<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csdj.mapper.LxrOrderMapper">

   <!-- <resultMap id="orderMap" type="Order">
        <id column="oid" property="orderid"/>
        <result property="waybillNumber" column="waybill_number" />
        <result property="referenceNumber" column="reference_number" />
        <result property="billingStatus" column="billing_status" />
        <result property="orderBagNo" column="order_bag_no" />
        <result property="orderDate" column="order_date" />
        <result property="mailingDate" column="mailing_date" />
        <result property="totalVotes" column="total_votes" />
        <result property="totalActualweight" column="total_actual weight" />
        <result property="totalPieces" column="total_pieces" />
        <result property="totalActualweight" column="total_actualweight" />
        <result property="totalPackages" column="total_packages" />
        <result property="chineseName" column="chinese_name" />
        <result property="customsDeclarationMethod " column="customs_eclaration_ethod" />
        <result property="deliveryOutlets" column="delivery_outlets" />
        <result property="orderDataSource" column="order_data_source" />
        <result property="creationTime" column="creation_time" />
        <result property="createdBy" column="created_by" />
        &lt;!&ndash; 订单状态    &ndash;&gt;
        <association property="state" javaType="Orderstate">
            &lt;!&ndash; id:声明主键，表示user_id是关联查询对象的唯一标识&ndash;&gt;
            <id property="oid" column="osid" />
            <result property="state" column="ostate" />
        </association>
        &lt;!&ndash; 寄件网点    &ndash;&gt;
        <association property="mailingOutlets" javaType="Outlet">
            &lt;!&ndash; id:声明主键，表示user_id是关联查询对象的唯一标识&ndash;&gt;
            <id property="oid" column="olid" />
            <result property="name" column="name" />
        </association>


    </resultMap>-->

   <!-- <select id="getOrderAll" resultType="Order">
        SELECT o."oid" as orderid,os."oid" as osid,os."ostate",ol."oid",ol."name" as olid FROM `order` AS o,`orderstate` AS os ,`outlet` AS ol , customer AS c,packagingtype AS pt,goods_type AS gt,`customs_declaration_method` AS cdm
         WHERE o.`state`=os.`oid`AND o.`mailing_outlets`=ol.`oid` AND o.`customer_id`=c.`cid` AND o.`packing_type`=pt.`pid`AND o.`goods_type`=gt.`gid`AND o.`customs_declaration_method`=cdm.`cid`

     select * from order
    </select>-->

    <!--订单数据映射-->
    <resultMap id="order" type="Order">
        <id column="orderid" property="oid"/>
        <result property="waybillNumber" column="waybill_number" />
        <result property="referenceNumber" column="reference_number" />
        <result property="chineseName" column="chinese_name" />
        <result property="creationTime" column="creation_time" />
        <result property="totalPackages" column="total_packages" />
        <result property="totalPieces" column="total_pieces" />

        <association property="orderstate" javaType="Orderstate">
            <id column="oidst" property="oid"/>
            <result property="ostate" column="ostate" />
        </association>

        <association property="outlet" javaType="Outlet">
            <result property="name" column="olname" />
        </association>

        <association property="customer" javaType="Customer">
            <result property="name" column="cname" />
        </association>

        <association property="packagingtype" javaType="Packagingtype">
            <result property="pname" column="pname" />
        </association>

        <association property="goodsTypes" javaType="GoodsType">
            <result property="gName" column="g_name" />
        </association>

        <association property="customsdeclarationmethod" javaType="Customsdeclarationmethod">
            <result property="customsDeclarationMethod" column="customs_declaration_method" />
        </association>
    </resultMap>
    <!--    订单查询-->
    <select id="getOrderAll" resultMap="order" parameterType="Map">
        SELECT o.oid orderid,o.`waybill_number`,o.`reference_number`,o.`chinese_name`,o.`creation_time`,o.`total_packages`
        ,o.`total_pieces`,os.`ostate`,os.oid oidst,ol.`name` olname,c.`name` cname,pt.`pname`,gt.`g_name`
        ,cdm.`customs_declaration_method`,sf.route_name sfname,sfe.route_name sfename,sf.id sfid,sfe.id sfeid FROM `order` AS o,`orderstate` AS os ,`customs_declaration_method` AS cdm
        ,`outlet` AS ol ,customer AS c,packagingtype AS pt,goods_type AS gt,(SELECT * FROM specificroute) AS sf,(SELECT * FROM specificroute) AS sfe
        WHERE o.`state`=os.`oid`AND o.`mailing_outlets`=ol.`oid`AND o.`customer_id`=c.`cid`AND o.`packing_type`=pt.`pid` AND o.`goods_type`=gt.`gid`AND o.`customs_declaration_method`=cdm.`cid` AND o.specify_the_route=sf.id AND o.take_the_cargo_route=sfe.id
        <if test="date1!=null and date2!=null">
            and o.`creation_time` &gt;=#{date1} and o.`creation_time` &lt;=#{date2}
        </if>
        <if test="luxian1!=null and luxian1!=null">
            and sf.id=#{luxian1}
        </if>
        <if test="luxian2!=null and luxian2!=''">
            and sfe.id=#{luxian2}
        </if>
        <if test="outlet!=null and outlet!=''">
            and ol.oid=#{outlet}
        </if>
        <if test="customer!=null and customer!=''">
            and c.cid=#{customer}
        </if>
        <if test="select1!=null and select1!=''">
            <if test="ttArea!=null and ttArea!=''">
                <if test="select1=='运单号码'">
                    and o.waybill_number=#{ttArea}
                </if>
                <if test="select1=='参考编号'">
                    and o.reference_number=#{ttArea}
                </if>
                <if test="select1=='订单号码'">
                    and o.oid=#{ttArea}
                </if>
            </if>
        </if>
        <if test="oid != null and oid !='' ">
            and o.oid=#{oid}
        </if>
    </select>

<!--        网点查询-->
    <select id="getOutletAll" resultType="Outlet">
        select * from outlet
    </select>

    <!--    客户查询-->
    <select id="getCustomer" resultType="Customer">
        select * from customer
    </select>

    <resultMap id="getSpecificrouteMap" type="Specificroute">
        <id column="id" property="id"/>
        <result property="routeName" column="route_name" />
    </resultMap>
    <!--    路线查询-->
    <select id="getSpecificroute" resultMap="getSpecificrouteMap">
        select * from specificroute
    </select>
    <!--发货  -->
    <update id="updateStateByOid" parameterType="java.util.List">
        UPDATE `order` SET `state`=5 WHERE `oid` IN
        <foreach collection="list" close=")" open="(" separator=","  item="oid">
            #{oid}
        </foreach>
    </update>

    <!--收货 -->
    <update id="updateOstateByOid" parameterType="java.util.List">
        UPDATE `order` SET `state`=2 WHERE `oid` IN
        <foreach collection="list" close=")" open="(" separator=","  item="oid">
            #{oid}
        </foreach>
    </update>

    <!--取消订单 -->
    <update id="updatequxiao" parameterType="java.util.List">
        UPDATE `order` SET `state`=7 WHERE `oid` IN
        <foreach collection="list" close=")" open="(" separator=","  item="oid">
            #{oid}
        </foreach>
    </update>
    <resultMap id="CustomsdeclarationmethodMap" type="Customsdeclarationmethod">
        <id column="cid" property="cid"/>
        <result property="customsDeclarationMethod" column="customs_declaration_method" />
    </resultMap>
    <!--    报关方式查询-->
    <select id="getCustomsdeclarationmethod" resultMap="CustomsdeclarationmethodMap">
        select * from `customs_declaration_method`
    </select>
    <!--    货物类型查询-->
    <select id="getTypeofgoods" resultType="com.csdj.pojo.Typeofgoods">
        select * from `typeofgoods`
    </select>

    <resultMap id="getOrderMaps" type="Order">
        <id column="oid" property="oid"/>
        <result property="waybillNumber" column="waybill_number" />
        <result property="referenceNumber" column="reference_number" />
        <result property="billingStatus" column="billing_status" />
        <result property="orderBagNo" column="order_bag_no" />
        <result property="orderDate" column="order_date" />
        <result property="mailingDate" column="mailing_date" />
        <result property="totalVotes" column="total_votes" />
        <result property="totalActualweight" column="total_actualweight" />
        <result property="totalPieces" column="total_pieces" />
        <result property="totalActualweight" column="total_actualweight" />
        <result property="totalPackages" column="total_packages" />
        <result property="chineseName" column="chinese_name" />
        <result property="customsDeclarationMethod " column="customs_eclaration_ethod" />
        <result property="deliveryOutlets" column="delivery_outlets" />
        <result property="orderDataSource" column="order_data_source" />
        <result property="creationTime" column="creation_time" />
        <result property="createdBy" column="created_by" />
        <result property="mailingOutlets" column="mailing_outlets" />
        <result property="customerId" column="customer_id" />
        <result property="packingType" column="packing_type" />
        <result property="goodsType" column="goods_type" />
        <result property="customsDeclarationMethod" column="customs_declaration_method" />
        <result property="takeTheCargoRoute" column="take_the_cargo_route" />
        <result property="specifyTheRoute" column="specify_the_route" />
    </resultMap>

<!--    根据id获取订单信息-->
    <select id="getOrderById" resultMap="getOrderMaps">
        select * from `order` where oid=#{oid}
    </select>
<!--    查询地址-->
    <select id="getAddressByOrderId" resultType="Address">
        select * from address where orderid=#{oid}
    </select>
<!--    修改订单表-->
    <update id="updateOrderByOid" parameterType="Order">
        UPDATE `order` SET `waybill_number`=#{waybillNumber}, `reference_number`=#{referenceNumber} , `mailing_outlets`=#{mailingOutlets} , `customer_id`=#{customerId}
        , `specify_the_route`=#{specifyTheRoute} , `take_the_cargo_route`=#{takeTheCargoRoute} , `mailing_date`=#{mailingDate} , `customs_declaration_method`=#{customsDeclarationMethod}
        , `goods_type`=#{goodsType} , `total_pieces`=#{totalPieces} , `total_actualweight`=#{totalActualweight} , `total_packages`=#{totalPackages} , `chinese_name`=#{chineseName}
        WHERE `oid`=#{oid}
    </update>

<!--    新增地址-->
    <insert id="addAddress" parameterType="Address">
        INSERT INTO address(`orderid`,`name`,`phone`,`address1`,`address2`,`address3`,
        `state`,`province`,`city`,`postcode`,`aname`,`aphone`,`aaddress1`,`aaddress2`,
        `aaddress3`,`acity`,`apostcode`,`aprovince`,`astate`)
        VALUE(#{orderid},#{name},#{phone},#{address1},#{address2},#{address3},
        #{state},#{province},#{city},#{postcode},#{aname},#{aphone},
        #{aaddress1},#{aaddress2},#{aaddress3},#{acity},#{apostcode},#{aprovince},#{astate})
    </insert>
<!--修改地址-->
    <update id="updateAddressById" parameterType="Address">
        UPDATE address SET `orderid`=#{orderid},`name`=#{name},`phone`=#{phone},`address1`=#{address1},`address2`=#{address2}
        ,`address3`=#{address3},`state`=#{state},`province`=#{province},`city`=#{city},`postcode`=#{postcode},
        `aname`=#{aname},`aphone`=#{aphone},`aaddress1`=#{aaddress1},`aaddress2`=#{aaddress2},
        `aaddress3`=#{aaddress3},`acity`=#{acity},`apostcode`=#{apostcode},`aprovince`=#{aprovince},`aprovince`=#{aprovince}
        WHERE `id`=#{id}
    </update>


</mapper>