<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="../lib/layui-v2.5.4/css/layui.css">
		<link rel="stylesheet" href="../lib/layui-v2.5.4/css/soulTable.css" media="all">
	</head>
	<body>
		<br />
		<div style="margin-left: 25px;">
			<form class="layui-form layui-form-pane" action="">
				<div style="margin-left: 10px;">
					<div class="layui-form-item">
						<div class="layui-inline">
							<div class="layui-form-item">
								交接日期
							</div>
							<div class="layui-form-item">
								<input type="text" class="layui-input" id="test16" placeholder="开始日期                    -                  结束日期" style="width: 300px;">
							</div>
						</div>
						<div class="layui-inline">
							<div class="layui-form-item" style="height: 20px;">
							</div>
							<div class="layui-form-item">
									<button type="button" class="layui-btn layui-btn-sm" style="background-color: #286ed6;color: #FFFFFF;width: 80px;">查询</button>
							</div>
						</div>
						<div class="layui-inline">
							<div class="layui-form-item" style="height: 20px;">
							</div>
							<div class="layui-form-item">
								上板策略：qwe
							</div>
						</div>
					</div>
					<table class="layui-hide" id="myTable"></table>
				</div>
			</form>
		</div>
	</body>
	<script src="../lib/layui-v2.5.4/layui.js"></script>
	<script>
		layui.use(['layer', 'form', 'jquery','laydate','table'], function() {
			var $ = layui.jquery;
			var layer = layui.layer;
			var form = layui.form;
			var laydate=layui.laydate;
			var table=layui.table;
			laydate.render({
				elem: '#test16',
				type: 'datetime',
				range: '到',
				format: 'yyyy年M月d日H时m分s秒'
			});
			table.render({
				elem: '#myTable',
				url: '/demo/table/user/',
				cellMinWidth: 80, //全局定义常规单元格的最小宽度，layui 2.2.1 新增,
				height:330,
				width:680,
				toolbar: true,
				defaultToolbar: ['filter', 'print', 'exports'],
				cols: [
					[{
							field: 'id',
							title: '扫描时间'
						}, {
							field: 'username',
							title: '类型'
						}, {
							field: 'sex',
							title: '扫描单号',
						}, {
							field: 'city',
							title: '转单号码'
						}, {
							field: 'sign',
							title: '运单号码',
						} 
						, {
							field: 'experience',
							title: '客户',
						}, {
							field: 'score',
							title: '指定路线',
						}, {
							field: 'classify',
							title: '运单件数'
						}
					]
				]
			});
		});
	</script>
</html>
