<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>装袋</title>
		<link rel="stylesheet" href="../lib/layui-v2.5.4/css/layui.css" media="all">
		<link rel="stylesheet" href="../css/layuimini.css" media="all">
	</head>
	<body>
		<form class="layui-form" action="">
			<div class="layui-form-item" style="margin-left: -100px;margin-top: -20px;background-color: #F6F8F8;">
				<br />
				<div class="layui-inline">
					<div class="layui-form-item">
						<div class="layui-inline">
							<div class="layui-input-block">
									<span id="client1"><span style="font-size: 26px;line-height: 80px;"><span style="margin-left: 10px;">订单号码</span></span></span>
									<button type="button" class="layui-btn layui-btn-normal layui-btn-xs" id="selectOrder"><span>选择订单</span></button>
							</div>
							<div class="layui-input-block">
								<div class="layui-input-inline">
									<input type="text" style="width: 260px;height: 50px;" id="oid" name="oid" required lay-verify="required" readonly="readonly" autocomplete="off"
									 class="layui-input">
								</div>
							</div>
						</div>
						<div class="layui-inline" style="margin-left: -50px;">
							<div class="layui-input-block">
								<span style="font-size: 26px;line-height: 80px;">袋号</span>
								<button type="button" class="layui-btn layui-btn-normal layui-btn-xs" id="SelectBagNo">选择袋号</button>
							</div>
							<div class="layui-input-block">
								<div class="layui-input-inline">
									<input type="text" style="width: 260px;height: 50px;" name="plateNo" id="plateNo" required lay-verify="required" readonly="readonly" autocomplete="off"
									 class="layui-input">
								</div>
							</div>
						</div>
					</div>
					<br /><br />
					<div class="layui-form-item" style="margin-top: -60px;">
						<div class="layui-inline">
							<div class="layui-input-block">
								<sapn style="font-size: 26px;line-height: 80px;">货物类型</sapn>
							</div>
							<div class="layui-input-block">
								<div class="layui-input-inline">
									<input  type="text" readonly="readonly" style="width: 260px;height: 50px;" name="goodsTypeName" id="goodsTypeName" required lay-verify="required"  autocomplete="off"
									 class="layui-input">
								</div>
							</div>
						</div>
						<div class="layui-inline" style="margin-left: -50px;">
							<div class="layui-input-block" > 
								<sapn id="client3"  style="font-size: 26px;line-height: 80px;"><span style="margin-left: 10px;">寄件网点</span></sapn>
							</div>
							<div class="layui-input-block">
								<div class="layui-input-inline">
									<input type="text"  readonly="readonly" style="width: 260px;height: 50px;" name="mailingOutletsName" id="mailingOutletsName" required lay-verify="required" autocomplete="off"
									 class="layui-input">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="layui-inline" style="margin-top: -5px;margin-left: 50px;">
					<p style="background-color: #F5F5F5; width: 500px; line-height: 25px;"><span style="background-color: #00c1de;">&nbsp;</span><span style="margin-left: 20px;">袋号规则</span></p>
					<div>
						<p style="line-height: 35px;">装袋策略</p>
						<input readonly="readonly" type="text" name="boardStrategy" id="boardStrategy" style="width: 180px;border: 1px solid #d1d1d1;height: 30px;">
						<button type="button" class="layui-btn layui-btn-normal layui-btn-sm">新板号</button>
						    <button type="button" class="layui-btn layui-btn-normal layui-btn-sm">装袋设置</button>
					</div>
					<div>
						<p style="line-height: 35px;">
							<span>派件网点<span>
							<span style="margin-left: 125px;">目的地</span>
							<span style="margin-left: 88px;">报关方式</span>
							<span style="margin-left: 25px;">货物类型</span>
						</p>
						<input type="text" readonly="readonly" id="deliveryOutlets"  name="deliveryOutlets" style="width: 175px;height:26px;border: 1px solid #d1d1d1;" />
						<input type="text" readonly="readonly" id="destination"  name="destination" style="width: 128px;height:26px;border: 1px solid #d1d1d1;" />
						<input type="text" readonly="readonly"id="cdm"  name="cdm"  style="width: 85px;height:26px;border: 1px solid #d1d1d1;" />
						<input type="text" readonly="readonly" id="gname"  name="gname" style="width: 85px;height:26px;border: 1px solid #d1d1d1;" />
					</div>
					<div>
						<p style="line-height: 35px;">
							<span>走货路线</span>
							<span style="margin-left: 308px;">单票申报价值</span>
							<span>整袋限制重量</span>
						</p>
						<input id="takeTheCargoRoute"  name="takeTheCargoRoute" readonly="readonly" type="text" style="width: 360px;height:26px;border: 1px solid #d1d1d1;" />
						<input id="limitedValueOfSingleTicket"  name="limitedValueOfSingleTicket" readonly="readonly" type="text" style="width: 85px;height:26px;border: 1px solid #d1d1d1;" />
						<input id="restrictedWeightPerTicket"  name="restrictedWeightPerTicket" readonly="readonly" type="text" style="width: 85px;height:26px;border: 1px solid #d1d1d1;" />
					</div>
				</div>
				</div>
				<div style="margin-left: 10px;margin-right: 10px;">
					<table class="layui-hide"  id="test"></table>
					<button type="button" class="layui-btn layui-btn-normal layui-btn-sm" id="updOrder">装袋完成</button>
				<a href="javascript:void(0)" data-iframe-tab="bagging_management.html" data-title="装袋管理" data-icon="fa fa-hourglass-end">
					<button type="button" class="layui-btn layui-btn-normal layui-btn-sm">装袋管理</button>
				</a>
				</div>
		</form>
	</body>
	<script src="../lib/layui-v2.5.4/layui.js"></script>
	<script src="../js/lay-config.js?v=1.0.4" charset="utf-8"></script>
	<script>
		var oid;
		var goodsTypeName;
		var mailingOutletsName;
		var plateNo;
		layui.use(['layer', 'form', 'jquery', 'table','element','layuimini'], function() {
					var $ = layui.jquery,
		            element = layui.element,
		            layer = layui.layer,
		            form = layui.form,
					table = layui.table;


			$("#updOrder").click(function () {
				if(oid==null){
					layer.msg("请选择订单")
				}else if(plateNo==null){
					layer.msg("请选择袋号")
				}else{
					$.ajax({
						url:"/up/updOrderById",
						type:"post",
						dataType:"text",
						data:{"pno":plateNo,"oid":oid},
						success:function (result) {
							if(result>0){
								layer.msg("装袋成功")
							}else{
								layer.msg("装袋失败")
							}
						}
					})
				}
			})
			$("#selectOrder").click(function() {
				layer.open({
					type: 2,
					content: "selectOrder.html",
					area: ['800px', '500px'],
					title: '选择订单',
					end: function(layero, index) {
						if(oid!=null){
							$("#oid").val(oid);
							$("#goodsTypeName").val(goodsTypeName);
							$("#mailingOutletsName").val(mailingOutletsName);
						}
					}
				});
			})

			$("#SelectBagNo").click(function() {
				layer.open({
					type: 2,
					content: "SelectBagNo.html",
					area: ['800px', '500px'],
					title: '选择袋号',
					end: function(layero, index) {
						if(plateNo!=null){
							$.ajax({
								url:"/bagging/getBagginByPlateNo",
								type:"post",
								dataType:"json",
								data:{plateNo:plateNo},
								success:function(result){
									$("#boardStrategy").val(result.baggingStrategyName);
									$("#deliveryOutlets").val(result.deliveryOutletsName);
									$("#destination").val(result.destinationName);
									$("#cdm").val(result.cdmName);
									$("#gname").val(result.gname);
									$("#takeTheCargoRoute").val(result.takeTheCargoRouteName);
									$("#limitedValueOfSingleTicket").val(result.limitedValueOfSingleTicket);
									$("#restrictedWeightPerTicket").val(result.restrictedWeightPerTicket);
								}
							})
							$("#plateNo").val(plateNo);
						}
					}
				});
			})

			table.render({
				elem: '#test',
				url: '/bagging/getBaggingAll/',
				height:300,
				toolbar: true,
				defaultToolbar: ['filter', 'print', 'exports'],
				cols: [
					[{
							field: 'plateNo',
							title: '袋号'
						}, {
						field: 'saggingState',
						title: '装袋状态',
						templet:function(result){
							if(result.saggingState==0){
								return '待装袋';
							}else if(result.saggingState==1){
								return '已装袋';
							}else if(result.saggingState==2){
								return '已装袋';
							}else if(result.saggingState==3){
								return '已装袋';
							}
						}
					},{
							field: 'baggingStrategyName',
							title: '装袋策略'
						}, {
							field: 'deliveryOutletsName',
							title: '派件网点',
						}, {
							field: 'destinationName',
							title: '目的地'
						}, {
							field: 'cdmName',
							title: '报关方式',
						} 
						, {
							field: 'restrictedWeightPerTicket',
							title: '单票限制重量',
						}, {
							field: 'gname',
							title: '货物类型',
						}, {
						field: 'creatorDate',
						title: '创建时间',
					}, {
						field: 'sname',
						title: '创建人'
					}
					]
				],
				page:true
				,limit: 3
				, limits:[3,4,5],
				id:'test'
			});
		});
	</script>
</html>
