<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="../lib/layui-v2.5.4/css/layui.css" media="all">
		<style type="text/css">
			
		</style>
	</head>
	<body>
		<blockquote class="layui-elem-quote layui-text" style="width: 260px; height: 5px !important; line-height: 5px;">
			批量扫描运单
		</blockquote>
		<div class="layui-form-item layui-form-text">
		      <textarea placeholder="请输入内容" class="layui-textarea"style="width: 260px; height: 300px;margin: 0px 20px;"></textarea>
		</div>
		<div align="center">
			<button type="button" class="layui-btn layui-btn-normal">保存</button>
			<button type="button" class="layui-btn layui-btn-primary">关闭</button>
		</div>
		<script src="../lib/layui-v2.5.4/layui.js" charset="utf-8"></script>
	</body>`
</html>