<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="../lib/layui-v2.5.4/css/layui.css">
		<link rel="stylesheet" href="../lib/layui-v2.5.4/css/soulTable.css" media="all">
		<style type="text/css">
			.a{
				display: inline-block;
				background-color: #286ed6;
				color: #FFFFFF;
				width: 30px;
				height: 20px;
				line-height: 20px;
				border-radius: 15px;	//圆角的大小
			}
		</style>
	</head>
	<body style="background-color: #f6f6f6;">
		<br />
		<div style="margin-left: 25px;">
			<form class="layui-form layui-form-pane" action="">
				<div class="layui-form-item">
					<div class="layui-inline">
						<button type="button" class="layui-btn layui-btn-sm" style="background-color: #ffffff;color: #000000;width: 100px;">全部明细
							<span class="a" id="a">1</span>
						</button>
					</div>
					<div class="layui-inline">
						<button type="button" class="layui-btn layui-btn-sm" style="background-color: #ffffff;color: #000000;width: 100px;">已关联
							<span class="a" id="b">1</span>
						</button>
					</div>
					<div class="layui-inline">
						<button type="button" class="layui-btn layui-btn-sm" style="background-color: #ffffff;color: red;width: 100px;">未关联
							<span style="background-color: red;" class="a" id="c">1</span>
						</button>
					</div>
					<div class="layui-inline">
						<button type="button" class="layui-btn layui-btn-sm" style="background-color: #286ed6;color: #FFFFFF;width: 100px;" id="AssociatedShift">关联班次</button>
					</div>
					<div class="layui-inline">
						<button type="button" class="layui-btn layui-btn-sm" style="background-color: red;color:#ffffff;width: 100px;" id="QXGL">取消关联</button>
					</div>
					<div class="layui-inline">
						<button type="button" class="layui-btn layui-btn-sm" style="background-color: #286ed6;" id="CK">查看已关联班次:</button>
					</div>
					<div class="layui-inline">
						<span id="Aid">

						</span>
					</div>
				</div>
				<div class="layui-form-item" style="margin-right: 20px;">
					<table class="layui-hide" id="test"></table>
				</div>
				<div class="layui-form-item">
					<button type="button" class="layui-btn layui-btn-sm" style="background-color: #286ed6;color: #FFFFFF;width: 80px;">完成</button>
				</div>
			</form>
		</div>
	</body>
	<script src="../lib/layui-v2.5.4/layui.js"></script>
	<script>
		layui.use(['layer', 'form', 'jquery','table'], function() {
			var $ = layui.jquery,
			layer = layui.layer,
			form = layui.form,
			table=layui.table;



			$("#QXGL").click(function () {
				var checkStatus = table.checkStatus('test');
				var plateNo;
				$(checkStatus.data).each(function (i, o) {//o即为表格中一行的数据
					plateNo=o.plateNo;
				});
				if (plateNo==null) {
					layer.msg('请选择');
					return false;
				}else {
				$.ajax({
					url:"/up/UpdAS",
					type:"post",
					dataType:"text",
					data:{'plateNo':plateNo},
					success:function (result) {
						if(result>0){
							layer.msg("取消成功");
							$.ajax({
								url:"/up/getUpAid",
								type:"post",
								dataType:"json",
								success:function (result) {
									var a=0;
									var b=0;
									$.each(result,function (index,item) {
										if(item.aid==null){
											a+=1;
										}else{
											a+=1;
											b+=1;
										}
									})
									var c= a-b;
									$("#a").text(a);
									$("#b").text(b);
									$("#c").text(c);
								}
							})
						}else{
							layer.msg("取消失败");
						}
					}
				})}
			})

			$("#CK").click(function () {
				var checkStatus = table.checkStatus('test');
				var plateNo;
				$(checkStatus.data).each(function (i, o) {//o即为表格中一行的数据
					plateNo=o.plateNo;
				});
				if (plateNo==null) {
					layer.msg('请选择');
					return false;
				}else {
					$.ajax({
						url:"/up/getAid",
						type:"post",
						dataType:"text",
						data:{'plateNo':plateNo},
						success:function (result) {
							if(result!=null && result!=''){
								$("#Aid").text(result);
							}else{
								$("#Aid").text("未关联");
							}
						}
					})}
			})

			table.render({
				elem: '#test',
				url: '/up/getUP',
				height:450,
				toolbar: true,
				defaultToolbar: ['filter', 'print', 'exports'],
				cols: [
					[{type:'radio'},{
						field: 'buildBoardDate',
						title: '扫描时间',
					}, {
						field: 'uid',
						title: '扫描单号'
					}, {
						field: 'plateNo',
						title: '板号',
					}, {
						field: 'upperState',
						title: '上板状态',
						templet:function(result){
							if(result.upperState==0){
								return '待上板';
							}else if(result.upperState==1){
								return '已上板';
							}else if(result.upperState==2){
								return '已出货';
							}else if(result.upperState==3){
								return '已撤销';
							}
						}
					},{
						field: 'dname',
						title: '目的地',
					}, {
						field: 'takeTheCargoRouteName',
						title: '走货路线',
					}, {
						field: 'cdmName',
						title: '报关类型',
					}, {
						field: 'gname',
						title: '货物类型',
					},{
						field: 'upperPlateOutletsName',
						title: '上板网点',
					},{
						field: 'ocount',
						title: '订单数',
					} , {
						field: 'buildBoardDate',
						title: '建板日期',
					}, {
						field: 'creatorName',
						title: '建板人',
					}]
				],page:true
				,limit: 6
				, limits:[6,7,8],
				id:'test'
			});

			$.ajax({
				url:"/up/getUpAid",
				type:"post",
				dataType:"json",
				success:function (result) {
					var a=0;
					var b=0;
					$.each(result,function (index,item) {
						if(item.aid==null){
							a+=1;
						}else{
							a+=1;
							b+=1;
						}
					})
					var c= a-b;
					$("#a").text(a);
					$("#b").text(b);
					$("#c").text(c);
				}
			})

			$("#AssociatedShift").click(function(){
				var checkStatus = table.checkStatus('test');
				var plateNo;
				$(checkStatus.data).each(function (i, o) {//o即为表格中一行的数据
					plateNo=o.plateNo;
				});
				if (plateNo==null) {
					layer.msg('请选择需要关联的信息');
					return false;
				}else {
					layer.open({
						type: 2,
						content: 'AssociatedShift.html',
						area: ['740px', '500px'],
						title: '选择班次交接单',
						success: function(layero, index) { //弹出层弹出后的回调函数
							var iframe = window['layui-layer-iframe' + index];// 获取子页面的iframe
							iframe.plateNo=plateNo;   // 向子页面的全局函数child传参
						}
					})
				}
			})
		});
	</script>
</html>
