<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>网点管理</title>
		<link rel="icon" href="images/favicon.ico">
		<link rel="stylesheet" href="../lib/layui-v2.5.4/css/layui.css" media="all">
		<link rel="stylesheet" href="../css/layuimini.css" media="all">
		<link rel="stylesheet" href="../css/layui-v2.5.4/css/soulTable.css" />
		<style type="text/css">
			.btn-bgcolor {
				background-color: #286ED6;
				width: 80px;
			}
			.btn-bgcolor2 {
				margin-top: 14.4%;
				background-color: #286ED6;
				width: 70px;
			}
			.btn-bgcolor3 {
				margin-top: 14.4%;
				width: 70px;
			}
			#luxian{
				position: absolute;
				left: 55.5%;
				top: 30%;
			}
			.inputwid{
				width: 150px;
			}
		</style>
	</head>
	<body>
		<br />
		<div style="margin-left: 20px;">
			<form class="layui-form layui-form-pane" action="">
				<blockquote class="layui-elem-quote layui-text" style=" height: 5px !important; line-height: 5px;">
					基础信息
				</blockquote>
				  <table class="layui-hide" id="myTable"></table>
				<!-- 显示数据end -->
			</form>
		</div>
		<script src="../lib/layui-v2.5.4/layui.js" charset="utf-8"></script>
		<script>
			// 自定义模块
			layui.config({
				base: '../ext/',   // 模块目录
				version: 'v1.5.4'
			}).extend({                         // 模块别名
				soulTable: 'soulTable'
			});
			layui.use(['element', 'layer', 'form', 'laydate','table'], function() {
				var $ = layui.jquery,
					element = layui.element,
					layer = layui.layer,
					form = layui.form,
					table = layui.table,
					laydate = layui.laydate;
				//日期
				laydate.render({
					elem: '#test16',
					type: 'datetime',
					range: '到',
					format: 'yyyy-M-d H:m:s'
				});
				table.render({
					elem: '#myTable'
					,url: '#'
					,toolbar: true
					,height: 400
					,totalRow: true
					,contextmenu: {
						// 表格内容右键菜单配置
						body: [
							{
								name: '是否选中',
								icon: 'layui-icon layui-icon-theme',
								children: [
									
									{
										name: '选中此条',
										click: function(obj) {
											obj.trElem.css('background', '#e67664');
											//userData.push(JSON.stringify(obj.row.bregistered));
											//alert(JSON.stringify(obj.row.bphone));
											var data=obj.row.bphone;
											var bool=true;
											if(userData.length>0){
												userData.forEach(function (result) {
													if(data.indexOf(result)!=-1){
														bool=false;
													}
												})
											}else{
												bool=false;
												userData.push(data)
											}
											if(bool==true){
												userData.push(data)
									
											}
											layer.msg('选择成功！');
										}
									}
									,
									{
										name: '取消选择',
										click: function(obj) {
											var data=obj.row.bphone;
											obj.trElem.css('background', '#fff');
											userData.forEach(function (result,index) {
												if(data.indexOf(result)!=-1){
													userData.splice(index,1);
												}
											})
											layer.msg('已取消选择！');
										}
									}
								]
							}
						],
					}
					,cols:  [
						[
							{field:'rid', title:'档案编号', width:100, fixed: 'left', unresize: true, sort: true}
							,{field:'bname', title:'姓名', width:120}
							,{field:'bcertificate', title:'身份证号码' ,width:200}
							,{field:'bage', title:'年龄',width:80}
							,{field:'birth', title:'出生日期', width:130, sort: true}
							,{field:'bregistered', title:'地址',width:130, sort: true}
							,{field:'bphone', title:'手机号码'}
						]
					],
					limit:5
					,page:true
					,id:"tableData"
					,where: { map: "all" }
					,done: function () {
						soulTable.render(this)
					}
				})
				
			});
		</script>
	</body>
</html>