<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>总运单管理</title>
		<link rel="icon" href="images/favicon.ico">
		<link rel="stylesheet" href="/lib/layui-v2.5.4/css/layui.css" media="all">
		<link rel="stylesheet" href="/css/layuimini.css" media="all">
		<style type="text/css">
			.btn-bgcolor {
				background-color: #286ED6;
				width: 80px;
			}
			
			.btn-bgcolor2 {
				margin-top: 14.4%;
				background-color: #286ED6;
				width: 70px;
			}
			
			.btn-bgcolor3 {
				margin-top: 14.4%;
				width: 70px;
			}
			
			#luxian {
				position: absolute;
				left: 16%;
				top: 30%;
			}
		</style>
	</head>

	<body>
		<br />
		<div style="margin-left: 20px;">
			<!-- 导航start -->
			<form class="layui-form layui-form-pane" action="">
				<div class="layui-form-item">
					<div class="layui-inline">
						<button type="button" style="background-color: #0FBA38;" class="layui-btn layui-btn-sm  btn-bgcolor" id="a">新增</button>
					</div>
					<div class="layui-inline">
						<button type="button" class="layui-btn layui-btn-sm  btn-bgcolor" id="XG">修改</button>
					</div>
					<div class="layui-inline">
						<button type="button" class="layui-btn layui-btn-sm  btn-bgcolor" id="yu">预出货</button>
					</div>
					<div class="layui-inline">
						<button type="button" class="layui-btn layui-btn-sm  btn-bgcolor" style="background-color: #E9161E;">撤销</button>
					</div>
					<div class="layui-inline">
						<a href="javascript:void(0)" data-iframe-tab="GeneralWaybill.html" data-title="总运单发送" data-icon="fa fa-hourglass-end">
							
							<button type="button" class="layui-btn layui-btn-sm  btn-bgcolor">发送</button>
						</a>
						
					</div>
					<div class="layui-inline">
						<button type="button" class="layui-btn layui-btn-sm  btn-bgcolor" style="background-color: #E9161E;">撤销发送</button>
					</div>

					<div class="layui-inline">
						<button type="button" class="layui-btn layui-btn-sm  btn-bgcolor" id="bulu">补录</button>
					</div>
					<div class="layui-inline">
						<button type="button" class="layui-btn layui-btn-sm  btn-bgcolor">确认</button>
					</div>
					<ul class="layui-nav layui-inline" style="width: 150px; height: 30px; background-color: #286ED6; text-align: center;">
						<li class="layui-nav-item" style="line-height: 30px; margin-right: 10px;">
							<a href="javascript:;" style="color: #fff; font-size: 10px;">出口清单导出</a>
							<dl class="layui-nav-child">
								<dd>
									<a href="javascript:;" class="aaa">按运单子单</a>
									<a href="javascript:;" class="aaa">按转单子单</a>
									<a href="javascript:;" class="aaa">按件数生成</a>
								</dd>
							</dl>
						</li>
						<li class="layui-nav-item layuimini-select-bgcolor mobile layui-hide-xs">
							<a href="javascript:;" data-bgcolor="配色方案"><i class="fa fa-ellipsis-v"></i></a>
						</li>
					</ul>
					<div class="layui-inline">
						<button type="button" style="width: 150px;" class="layui-btn layui-btn-sm  btn-bgcolor" id="He">合并清单导出</button>
					</div>
				</div>
				<!-- 导航end -->
				<!-- 搜索start -->
				<div class="layui-form-item">
					<div class="layui-inline" style="width: 120px;">
						<div class="layui-form-item">
							<select name="city" lay-verify="required">
								<option value="">运单号码</option>

								<option value="">总运单号</option>
							</select>
						</div>
						<div class="layui-form-item" style="margin-top:-11% !important;">
							<textarea class="layui-textarea"></textarea>
							<div class="layui-form-item">
								<button type="button" class="layui-btn layui-btn-sm" style="width: 120px; margin-top: 2px;"> 清空</button>
							</div>
						</div>
					</div>
					<div class="layui-inline" style="margin-top: -2% !important;">
						<div class="layui-inline">
							<div class="layui-form-item">
								总运单日期
							</div>
							<div class="layui-form-item" style="width: 240px;">
								<input type="text" class="layui-input" id="test16" placeholder="开始时间    -   结束时间">
							</div>
						</div>
						<div class="layui-inline" style="margin-left: -10px;">
							<div class="layui-form-item">
								出货网点
							</div>
							<div class="layui-form-item" style="width: 120px;">
								<select name="city" lay-verify="required">
									<option value=""></option>
									<option value="">运单号码</option>
									<option value="">参考编号</option>
									<option value="">订单号码</option>
								</select>
							</div>
						</div>
						<div class="layui-inline" style="margin-left: -10px;">
							<div class="layui-form-item">
								下一网点
							</div>
							<div class="layui-form-item" style="width: 120px;">
								<select name="city" lay-verify="required">
									<option value=""></option>
									<option value="">运单号码</option>
									<option value="">参考编号</option>
									<option value="">订单号码</option>
								</select>
							</div>
						</div>
						<div class="layui-inline">
							<div class="layui-form-item">
								干线运输方式
							</div>
							<div class="layui-form-item" style="width: 120px;">
								<select name="city" lay-verify="required">
									<option value=""></option>
									<option value="">运单号码</option>
									<option value="">参考编号</option>
									<option value="">订单号码</option>
								</select>
							</div>
						</div>
						<div class="layui-inline" style="margin-left: -10px;">
							<div class="layui-form-item">
								总运单状态
							</div>
							<div class="layui-form-item" style="width: 120px;">
								<select name="city" lay-verify="required">
									<option value=""></option>
									<option value="">运单号码</option>
									<option value="">参考编号</option>
									<option value="">订单号码</option>
								</select>
							</div>

						</div>
						<div class="layui-inline" style="margin-top: -5px;">
							<button type="button" class="layui-btn layui-btn-sm  btn-bgcolor2">查询</button>
							<button type="button" class="layui-btn layui-btn-sm  layui-btn-primary btn-bgcolor3">重置</button>
						</div>
					</div>

				</div>
				<!-- 搜索end -->

				<!-- 显示数据start -->
			<table class="layui-hide" id="test" lay-filter="test"></table>
				<!-- 显示数据end -->
			</form>
		</div>
		<script src="/lib/layui-v2.5.4/layui.js" charset="utf-8"></script>
		<script src="/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
		<script>

			layui.use(['element', 'layer', 'form', 'laydate', 'table','layuimini'], function() {
				var $ = layui.jquery,
					element = layui.element,
					layer = layui.layer,
					form = layui.form,
					table = layui.table,
					laydate = layui.laydate;
				//日期
				laydate.render({
					elem: '#test16',
					type: 'datetime',
					range: '到',
					format: 'yyyy-M-d'
				});
				$("#a").click(function() {
					layer.open({
						type: 2,
						content: "general_waybill.htmlxz.html",
						area: ['1000px', '500px'],
						title: '新增总运单',
					});
				})
				$("#XG").click(function() {
					layer.open({
						type: 2,
						content: "general_waybill.htmlxg.html",
						area: ['1000px', '500px'],
						title: '修改总运单',
					});
				})
				$(".aaa").on("click", function() {
					layer.open({
						type: 2,
						content: 'customGen.html',
						area: ['700px', '500px'],
						title: 'Excel自定义导出',
					});
				})
				$("#He").on("click", function() {
					layer.open({
						type: 2,
						content: 'customGen.html',
						area: ['700px', '500px'],
						title: 'Excel自定义导出',
					});
				})
				$("#yu").on("click", function() {
					layer.open({
						type: 2,
						content: 'pre_shipment.html',
						area: ['500px', '500px'],
						title: '预出货',
					});
				})
				$("#bulu").on("click", function() {
					layer.open({
						type: 2,
						content: 'Confirmation_of_general_waybill.html',
						area: ['1000px', '500px'],
						title: '预出货',
					});
				})
				table.render({
					elem: '#test',
					url: '/test/table/demo1.json',
					title: '用户数据表',
					cols: [
						[
							{ type: 'checkbox', fixed: 'left' }, { field: 'id', title: 'ID', width: 80, fixed: 'left', unresize: true, sort: true }, { field: 'username', title: '用户名', width: 120, edit: 'text' }, {
								field: 'email',
								title: '邮箱',
								width: 150,
								edit: 'text',
								templet: function(res) {
									return '<em>' + res.email + '</em>'
								}
							}, { field: 'sex', title: '性别', width: 80, edit: 'text', sort: true }, { field: 'city', title: '城市', width: 100 }, { field: 'sign', title: '签名' }, { field: 'experience', title: '积分', width: 80, sort: true }, { field: 'ip', title: 'IP', width: 120 }, { field: 'logins', title: '登入次数', width: 100, sort: true }, { field: 'joinTime', title: '加入时间', width: 120 }, { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150 }
						]
					],
					page: true
				});
			});
		</script>
	</body>

</html>