<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="../lib/layui-v2.5.4/css/layui.css">
		<link rel="stylesheet" href="../lib/layui-v2.5.4/css/soulTable.css" media="all">
	</head>
	<body>
		<form class="layui-form" action="">
			<div class="layui-form-item">
				<div class="layui-inline">
					<button type="submit" class="layui-btn layui-btn-sm" lay-filter="demo1" style="margin: 0;background-color: #286ED6;">保存&S</button>
					<button type="reset" class="layui-btn layui-btn-sm" style="margin: 0;background-color: #286ED6;">重置</button>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label"><span style="color: red;">*</span>客户</label>
					<div class="layui-input-block">
						<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input">
					</div>
				</div>
				<span class="site-demo-button" id="layerDemo">
					<button type="button" data-method="offset" data-type="auto" class="layui-btn layui-btn-primary layui-btn-sm"><i
						 class="layui-icon layui-icon-search"></i></button>
				</span>
				<div class="layui-inline">
					<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input">
				</div>
				<div class="layui-inline">
					<label class="layui-form-label" style="width: 200px;"><span style="color: red;">*</span>EDI 名称 + 走货路线</label>
					<div class="layui-input-inline" style="width: 300px;">
						<select name="modules" lay-verify="required" lay-search="">
							<option value="">直接选择或搜索选择</option>
							<option value="1">layer</option>
							<option value="2">form</option>
							<option value="3">layim</option>
							<option value="4">element</option>
							<option value="5">laytpl</option>
							<option value="6">upload</option>
							<option value="7">laydate</option>
						</select>
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<blockquote class="layui-elem-quote layui-text" style="width: 1500px;">
						基本信息
					</blockquote>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							<span style="color: red;">*</span>指定路线
						</div>
					</div>
					<div class="layui-form-item" style="width: 150px;">
						<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input" disabled="disabled">
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;margin-top: 20px;">
					<span class="site-demo-button" id="layerDemo">
						<button type="button" data-method="offset" data-type="auto" class="layui-btn layui-btn-primary layui-btn-sm"
						 disabled="disabled"><i class="layui-icon layui-icon-search"></i></button>
					</span>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							<span style="color: red;">*</span>目的地
						</div>
					</div>
					<div class="layui-form-item" style="width: 150px;">
						<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input" disabled="disabled">
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;margin-top: 20px;">
					<span class="site-demo-button" id="layerDemo">
						<button type="button" data-method="offset" data-type="auto" class="layui-btn layui-btn-primary layui-btn-sm"
						 disabled="disabled"><i class="layui-icon layui-icon-search"></i></button>
					</span>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;margin-top: 20px;width: 100px;">
					<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input" disabled="disabled">
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							<span style="color: red;">*</span>件数
						</div>
					</div>
					<div class="layui-form-item" style="width: 100px;margin-bottom: 20px;">
						<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input" disabled="disabled">
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							<span style="color: red;">*</span>出货重
						</div>
					</div>
					<div class="layui-form-item" style="width: 100px;margin-bottom: 20px;">
						<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input" disabled="disabled">
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							<span style="color: red;">*</span>包装类型
						</div>
					</div>
					<div class="layui-form-item" style="width: 100px;margin-bottom: 20px;">
						<div class="layui-input-inline" style="width: 100px;">
							<select name="modules" lay-verify="required" lay-search="">
								<option value="">直接选择或搜索选择</option>
								<option value="1">layer</option>
								<option value="2">form</option>
								<option value="3">layim</option>
								<option value="4">element</option>
								<option value="5">laytpl</option>
								<option value="6">upload</option>
								<option value="7">laydate</option>
							</select>
						</div>
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							<span style="color: red;">*</span>货物类型
						</div>
					</div>
					<div class="layui-form-item" style="width: 100px;margin-bottom: 20px;">
						<div class="layui-input-inline">
							<select name="modules" lay-verify="required" lay-search="">
								<option value="">直接选择或搜索选择</option>
								<option value="1">layer</option>
								<option value="2">form</option>
								<option value="3">layim</option>
								<option value="4">element</option>
								<option value="5">laytpl</option>
								<option value="6">upload</option>
								<option value="7">laydate</option>
							</select>
						</div>
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 100px;">
					<div class="layui-form-item">
						<div class="layui-inline">
							<span style="color: red;">*</span>参考编号
						</div>
					</div>
					<div class="layui-form-item" style="margin-bottom: 20px;">
						<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input" disabled="disabled">
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<blockquote class="layui-elem-quote layui-text" style="width: 1500px;">
						收件信息
					</blockquote>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							公司名称
						</div>
					</div>
					<div class="layui-form-item" style="margin-bottom: 20px;">
						<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input" style="width: 500px;">
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							<span style="color: red;">*</span>国家
						</div>
					</div>
					<div class="layui-form-item" style="width: 150px;">
						<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input" disabled="disabled">
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;margin-top: 20px;">
					<span class="site-demo-button" id="layerDemo">
						<button type="button" data-method="offset" data-type="auto" class="layui-btn layui-btn-primary layui-btn-sm"
						 disabled="disabled"><i class="layui-icon layui-icon-search"></i></button>
					</span>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;margin-top: 20px;width: 100px;">
					<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input" disabled="disabled">
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							<span style="color: red;">*</span>州/省
						</div>
					</div>
					<div class="layui-form-item" style="width: 150px;">
						<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input" disabled="disabled">
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							<span style="color: red;">*</span>邮编
						</div>
					</div>
					<div class="layui-form-item" style="width: 150px;">
						<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input" disabled="disabled">
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;margin-top: 20px;">
					<span class="site-demo-button" id="layerDemo">
						<button type="button" data-method="offset" data-type="auto" class="layui-btn layui-btn-primary layui-btn-sm"
						 disabled="disabled"><i class="layui-icon layui-icon-search"></i></button>
					</span>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							<span style="color: red;">*</span>城市
						</div>
					</div>
					<div class="layui-form-item">
						<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input" disabled="disabled">
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							<span style="color: red;">*</span>联系人
						</div>
					</div>
					<div class="layui-form-item">
						<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input" disabled="disabled">
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							联系电话
						</div>
					</div>
					<div class="layui-input-inline" style="margin-bottom: 20px;width: 100px;">
						<select name="modules" lay-verify="required" lay-search="">
							<option value="">直接选择或搜索选择</option>
							<option value="1">layer</option>
							<option value="2">form</option>
							<option value="3">layim</option>
							<option value="4">element</option>
							<option value="5">laytpl</option>
							<option value="6">upload</option>
							<option value="7">laydate</option>
						</select>
					</div>
				</div>
				<div class="layui-inline">
					<div class="layui-form-item" style="margin: 0;margin-top: 20px;">
						<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input" disabled="disabled">
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							地址1
						</div>
					</div>
					<div class="layui-form-item" style="margin-bottom: 20px;">
						<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input" style="width: 500px;">
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							地址2
						</div>
					</div>
					<div class="layui-form-item" style="margin-bottom: 20px;">
						<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							地址3
						</div>
					</div>
					<div class="layui-form-item" style="margin-bottom: 20px;">
						<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input">
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<blockquote class="layui-elem-quote layui-text" style="width: 1500px;">
						货物信息
					</blockquote>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							英文品名1
						</div>
					</div>
					<div class="layui-form-item" style="margin-bottom: 20px;">
						<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input" style="width: 400px;">
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							英文品名2
						</div>
					</div>
					<div class="layui-form-item" style="margin-bottom: 20px;">
						<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							英文品名3
						</div>
					</div>
					<div class="layui-form-item" style="margin-bottom: 20px;">
						<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							中文品名
						</div>
					</div>
					<div class="layui-form-item" style="margin-bottom: 20px;">
						<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							保险
						</div>
					</div>
					<div class="layui-form-item" style="margin-bottom: 20px;">
						<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input" style="width: 150px;">
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item" style="margin-top: 30px;width: 100px;">
						<select name="modules" lay-verify="required" lay-search="">
							<option value="">直接选择或搜索选择</option>
							<option value="1">layer</option>
							<option value="2">form</option>
							<option value="3">layim</option>
							<option value="4">element</option>
							<option value="5">laytpl</option>
							<option value="6">upload</option>
							<option value="7">laydate</option>
						</select>
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							申报价值
						</div>
					</div>
					<div class="layui-form-item" style="margin-bottom: 20px;">
						<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input" style="width: 150px;">
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item" style="margin-top: 30px;width: 100px;">
						<select name="modules" lay-verify="required" lay-search="">
							<option value="">直接选择或搜索选择</option>
							<option value="1">layer</option>
							<option value="2">form</option>
							<option value="3">layim</option>
							<option value="4">element</option>
							<option value="5">laytpl</option>
							<option value="6">upload</option>
							<option value="7">laydate</option>
						</select>
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							代收款
						</div>
					</div>
					<div class="layui-form-item" style="margin-bottom: 20px;">
						<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input" style="width: 150px;">
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item" style="margin-top: 30px;width: 100px;">
						<select name="modules" lay-verify="required" lay-search="">
							<option value="">直接选择或搜索选择</option>
							<option value="1">layer</option>
							<option value="2">form</option>
							<option value="3">layim</option>
							<option value="4">element</option>
							<option value="5">laytpl</option>
							<option value="6">upload</option>
							<option value="7">laydate</option>
						</select>
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							付款方式
						</div>
					</div>
					<div class="layui-form-item" style="margin-bottom: 20px;width: 100px;">
						<select name="modules" lay-verify="required" lay-search="">
							<option value="">直接选择或搜索选择</option>
							<option value="1">layer</option>
							<option value="2">form</option>
							<option value="3">layim</option>
							<option value="4">element</option>
							<option value="5">laytpl</option>
							<option value="6">upload</option>
							<option value="7">laydate</option>
						</select>
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							付款账号
						</div>
					</div>
					<div class="layui-form-item" style="margin-bottom: 20px;width: 100px;">
						<select name="modules" lay-verify="required" lay-search="">
							<option value="">直接选择或搜索选择</option>
							<option value="1">layer</option>
							<option value="2">form</option>
							<option value="3">layim</option>
							<option value="4">element</option>
							<option value="5">laytpl</option>
							<option value="6">upload</option>
							<option value="7">laydate</option>
						</select>
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							税金支付
						</div>
					</div>
					<div class="layui-form-item" style="margin-bottom: 20px;width: 100px;">
						<select name="modules" lay-verify="required" lay-search="">
							<option value="">直接选择或搜索选择</option>
							<option value="1">layer</option>
							<option value="2">form</option>
							<option value="3">layim</option>
							<option value="4">element</option>
							<option value="5">laytpl</option>
							<option value="6">upload</option>
							<option value="7">laydate</option>
						</select>
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							税金账号
						</div>
					</div>
					<div class="layui-form-item" style="margin-bottom: 20px;">
						<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input" style="width: 100px;">
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							服务方式
						</div>
					</div>
					<div class="layui-form-item" style="margin-bottom: 20px;">
						<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							备注
						</div>
					</div>
					<div class="layui-form-item" style="margin-bottom: 20px;">
						<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input">
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<blockquote class="layui-elem-quote layui-text" style="width: 1500px;">
						寄件信息
					</blockquote>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							公司名称
						</div>
					</div>
					<div class="layui-form-item" style="margin-bottom: 20px;">
						<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input" style="width: 400px;">
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							国家
						</div>
					</div>
					<div class="layui-form-item" style="margin-bottom: 20px;">
						<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							州/省
						</div>
					</div>
					<div class="layui-form-item" style="margin-bottom: 20px;">
						<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							地址1
						</div>
					</div>
					<div class="layui-form-item" style="margin-bottom: 20px;">
						<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input" style="width: 500px;">
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							地址2
						</div>
					</div>
					<div class="layui-form-item" style="margin-bottom: 20px;">
						<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input">
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							地址3
						</div>
					</div>
					<div class="layui-form-item" style="margin-bottom: 20px;">
						<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							城市
						</div>
					</div>
					<div class="layui-form-item" style="margin-bottom: 20px;">
						<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							邮编
						</div>
					</div>
					<div class="layui-form-item" style="margin-bottom: 20px;">
						<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							联系人
						</div>
					</div>
					<div class="layui-form-item" style="margin-bottom: 20px;">
						<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							联系电话
						</div>
					</div>
					<div class="layui-form-item" style="margin-bottom: 20px;">
						<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 100px;margin: 0;">
					<div class="layui-form-item">
						<div class="layui-inline">
							报关方式
						</div>
					</div>
					<div class="layui-form-item" style="margin-bottom: 20px;">
						<select name="modules" lay-verify="required" lay-search="">
							<option value="">直接选择或搜索选择</option>
							<option value="1">layer</option>
							<option value="2">form</option>
							<option value="3">layim</option>
							<option value="4">element</option>
							<option value="5">laytpl</option>
							<option value="6">upload</option>
							<option value="7">laydate</option>
						</select>
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<table class="layui-hide" id="test"></table>
			</div>
		</form>
	</body>
	<script src="../lib/layui-v2.5.4/layui.js"></script>
	<script>
		// 自定义模块
		layui.config({
			base: '../ext/', // 模块目录
			version: 'v1.5.4'
		}).extend({ // 模块别名
			soulTable: 'soulTable'
		});
		layui.use(['element', 'layer', 'form', 'layedit', 'laydate', 'table', 'soulTable', 'element'], function() {
			var element = layui.element;
			var $ = layui.jquery;
			var layer = layui.layer;
			var form = layui.form;
			var layedit = layui.layedit;
			var laydate = layui.laydate;
			var table = layui.table;
			var soulTable = layui.soulTable;
			var element = layui.element;

			//日期
			laydate.render({
				elem: '#date'
			});

			table.render({
				elem: '#test',
				url: '../api/demo1.json',
				toolbar: true,
				title: '用户数据表',
				totalRow: true,
				contextmenu: {
					// 表格内容右键菜单配置
					body: [{
							name: '选中',
							click: function(obj) {

								$.post("/pxy/getReordById", {
									'id': obj.row.rid
								}, function(result) {
									if (result) {
										layer.msg("选择成功");

									} else {
										layer.msg("选择失败");
									}
								})
							}
						},
						{
							name: '删除当前行数据',
							click: function(obj) {
								var data = obj.row;
								layer.confirm('真的删除行么', {
									title: '提示',
									icon: 3
								}, function(index) {
									$.ajax({
										url: "/pxy/rdelete",
										type: "post",
										dataType: "text",
										data: {
											"rid": data.rid
										},
										success: function(res) {
											if (res == 'true') {
												obj.del();
												layer.msg("删除成功！");
											}
										}
									});
									layer.close(index);
								});
							}
						}
					],
				},
				cols: [
					[{
						field: 'id',
						title: 'ID',
						width: 80,
						fixed: 'left',
						unresize: true,
						sort: true,
						totalRowText: '合计'
					}, {
						field: 'username',
						title: '用户名',
						width: 120,
						edit: 'text'
					}, {
						field: 'email',
						title: '邮箱',
						width: 150,
						edit: 'text',
						templet: function(res) {
							return '<em>' + res.email + '</em>'
						}
					}, {
						field: 'experience',
						title: '积分',
						width: 80,
						sort: true,
						totalRow: true
					}, {
						field: 'sex',
						title: '性别',
						width: 80,
						edit: 'text',
						sort: true
					}, {
						field: 'logins',
						title: '登入次数',
						width: 100,
						sort: true,
						totalRow: true
					}, {
						field: 'sign',
						title: '签名'
					}, {
						field: 'city',
						title: '城市',
						width: 100
					}, {
						field: 'ip',
						title: 'IP',
						width: 120
					}, {
						field: 'joinTime',
						title: '加入时间',
						width: 120
					}, {
						fixed: 'right',
						title: '操作',
						toolbar: '#barDemo',
						width: 150
					}]
				],
				done: function() {
					soulTable.render(this)
				},
				page: true,
				limit: 2
			});


		});
	</script>
</html>
