<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>新建装袋</title>
		<link rel="stylesheet" href="../lib/layui-v2.5.4/css/layui.css">
		<link rel="stylesheet" href="../lib/layui-v2.5.4/css/soulTable.css" media="all">
	</head>
	<body>
		<br />
		<div style="margin-left: 25px;">
			<form class="layui-form layui-form-pane" action="">
				<p style="background-color: #f5f5f5; width: 97%; line-height: 30px;"><span style="background-color: #00c1de;">&nbsp;</span>&nbsp;&nbsp;板号信息</p>
				<div style="margin-left: 10px;">
					<div class="layui-form-item">
						<div class="layui-inline">
							<div class="layui-form-item">
								袋号
							</div>
							<div class="layui-form-item" style="width: 160px;">
								<input type="text" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
							</div>
						</div>
								<div class="layui-inline">
							<div class="layui-form-item">
								清关袋号
							</div>
							<div class="layui-form-item" style="width: 160px;">
								<input type="text" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-inline">
							<div class="layui-form-item">
								装袋策略
							</div>
							<div class="layui-form-item" style="width: 160px;">
								<select name="city" lay-verify="required">
									<option value=""></option>
									<option value="">运单号码</option>
									<option value="">参考编号</option>
									<option value="">订单号码</option>
								</select>
							</div>
						</div>
						<div class="layui-inline">
							<div class="layui-form-item">
								派件网点
							</div>
							<div class="layui-form-item" style="width: 160px;">
								<select name="city" lay-verify="required">
									<option value=""></option>
									<option value="">运单号码</option>
									<option value="">参考编号</option>
									<option value="">订单号码</option>
								</select>
							</div>
						</div>
			
					</div>
					<div class="layui-form-item" style="margin-top: -25px;">
						<div class="layui-inline">
							<div class="layui-form-item">
								走货路线（可多选）
							</div>
							<div class="layui-form-item" id="aa" style="width: 680px;">

							</div>
						</div>
					</div>
				<div class="layui-form-item" style="margin-top: -25px;">
						<div class="layui-inline">
							<div class="layui-form-item">
								<div class="layui-tab" style="width: 680px;">
									<ul class="layui-tab-title">
										<li class="layui-this">目的地编码</li>
										<li style="margin-left: 150px;">英文目的地</li>
										<li style="margin-left: 150px;">简体目的地</li>
									</ul>
									<div class="layui-tab-content">
										<div class="layui-tab-item layui-show">
											<textarea name="desc" style="width: 670px;height: 200px;" placeholder="请输入内容" class="layui-textarea"></textarea>
										</div>
										<div class="layui-tab-item">
											<textarea name="desc" style="width: 670px;height: 200px;" placeholder="请输入内容" class="layui-textarea"></textarea>
										</div>
										<div class="layui-tab-item">
											<textarea name="desc" style="width: 670px;height: 200px;" placeholder="请输入内容" class="layui-textarea"></textarea>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="layui-form-item" style="margin-top: -25px;">
						<div class="layui-inline">
							<div class="layui-form-item">
								整袋限制重量（KG）
							</div>
							<div class="layui-form-item">
								<div class="layui-inline">
									<input type="text" name="title" style="width: 60px;" required lay-verify="required" autocomplete="off" class="layui-input">
								</div>
								<div class="layui-inline">
									<span style="color: red;">~</span>
								</div>
								<div class="layui-inline">
									<input type="text" name="title" style="width: 60px;" required lay-verify="required" autocomplete="off" class="layui-input">
								</div>
							</div>
						</div>
									<div class="layui-inline">
							<div class="layui-form-item">
								单票限制申报价值
							</div>
							<div class="layui-form-item">
								<div class="layui-inline">
									<input type="text" name="title" style="width: 60px;" required lay-verify="required" autocomplete="off" class="layui-input">
								</div>
								<div class="layui-inline">
									<span style="color: red;">~</span>
								</div>
								<div class="layui-inline">
									<input type="text" name="title" style="width: 60px;" required lay-verify="required" autocomplete="off" class="layui-input">
								</div>
							</div>
						</div>
						<div class="layui-inline">
							<div class="layui-form-item">
								报关方式
							</div>
							<div class="layui-form-item" style="width: 150px;">
								<select name="city" lay-verify="required">
									<option value=""></option>
									<option value="">运单号码</option>
									<option value="">参考编号</option>
									<option value="">订单号码</option>
								</select>
							</div>
						</div>
						<div class="layui-inline">
							<div class="layui-form-item">
								货物类型
							</div>
							<div class="layui-form-item" style="width: 150px;">
								<select name="city" lay-verify="required">
									<option value=""></option>
									<option value="">运单号码</option>
									<option value="">参考编号</option>
									<option value="">订单号码</option>
								</select>
							</div>
						</div>
					</div>
					<div class="layui-form-item" style="margin-top: -25px;">
						<div class="layui-inline">
							<div class="layui-form-item">
								目的机场代码
							</div>
							<div class="layui-form-item" style="width: 200px;">
								<input type="text" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-inline">
							<div class="layui-form-item">
								邮包互换局
							</div>
							<div class="layui-form-item" style="width: 200px;">
								<input type="text" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-inline">
							<div class="layui-form-item">
								备注
							</div>
							<div class="layui-form-item" style="width: 250px;">
								<input type="text" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-inline" style="margin-top: -5px;">
							<button type="button" class="layui-btn  layui-btn-sm" style="background-color: #286ED6;">保持并继续</button>
							<button type="button" class="layui-btn  layui-btn-sm" style="background-color: #286ED6;">保存</button>
							<button type="button" class="layui-btn  layui-btn-sm" style="background-color: #A7A9AD;">返回</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</body>
	<script src="../lib/layui-v2.5.4/layui.js"></script>
	<script src="../js/xm-select.js"></script>
	<script>
		layui.use(['layer', 'form', 'jquery', 'element'], function() {
			var $ = layui.jquery;
			var layer = layui.layer;
			var element = layui.element;
			var form = layui.form;
			var demo1 = xmSelect.render({
				el: '#aa',
				language: 'zn',
				data: [{
						name: '张三',
						value: 1
					},
					{
						name: '李四',
						value: 2
					},
					{
						name: '王五',
						value: 3
					},
				]
			})
			document.getElementById('demo1-getValue').onclick = function() {
				//获取当前多选选中的值
				var selectArr = demo1.getValue();
				document.getElementById('demo1-value').innerHTML = JSON.stringify(selectArr, null, 2);
			}
			
			
		});
	</script>
</html>
