<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="../lib/layui-v2.5.4/css/layui.css">
</head>
<body>
<form class="layui-form" action="">
	<div class="layui-form-item" style="margin-top: 10px;">
		<div class="layui-inline" style="margin-left: 200px;">
			<div class="layui-form-item">
				<div class="layui-inline">
					客户
				</div>
			</div>
			<div class="layui-form-item" style="width: 200px;">
				<select id="cids" name="customerId" lay-verify="required">
					<option value="">直接选择或搜索选择</option>
				</select>
			</div>
		</div>
		<div class="layui-inline" style="margin-left: 100px;">
			<div class="layui-form-item">
				<div class="layui-inline">
					报关方式
				</div>
			</div>
			<div class="layui-form-item" style="width: 200px;">
				<select name="customsDeclarationMethod" lay-verify="required" id="uids">
					<option value="">直接选择或搜索选择</option>
				</select>
			</div>
		</div>
		<div class="layui-inline" style="margin-left: 100px;">
			<div class="layui-form-item">
				<div class="layui-inline">
					<span style="color: red;">*</span>运单号码
				</div>
			</div>
			<div class="layui-form-item" style="width: 200px;">
				<input type="text" name="oid" id="rtrackingnumbers" required lay-verify="required" autocomplete="off" class="layui-input" disabled="disabled">
			</div>
		</div>
		<div class="layui-inline" style="margin-left: 100px;">
			<div class="layui-form-item">
				<div class="layui-inline">
					指定路线
				</div>
			</div>
			<div class="layui-form-item" style="width: 200px;">
				<select name="sid" lay-verify="required" id="sids">
					<option value="">直接选择或搜索选择</option>
				</select>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline" style="margin-left: 100px;">
			<div class="layui-form-item"style="margin-left: 100px;">
				<div class="layui-inline">
					<span style="color: red;">*</span>参考编号
				</div>
			</div>
			<div class="layui-input-block">
				<input id="reference3" type="text" name="referenceNumber" required lay-verify="required" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-inline" style="margin-left: 100px;">
			<div class="layui-form-item">
				<div class="layui-inline">
					订单袋号
				</div>
			</div>
			<div class="layui-form-item" style="width: 200px;">
				<select name="orderBagNo" lay-verify="required" id="orderBagNos">
					<option value="">直接选择或搜索选择</option>
				</select>
			</div>
		</div>
		<div class="layui-inline" style="margin-left: 100px;">
			<div class="layui-form-item">
				<div class="layui-inline">
					目的地
				</div>
			</div>
			<div class="layui-form-item" style="width: 200px;">
				<select name="did" lay-verify="required" id="dids">
					<option value="">直接选择或搜索选择</option>
				</select>
			</div>
		</div>
		<div class="layui-inline" style="margin-left: 100px;">
			<div class="layui-form-item">
				<div class="layui-inline">
					货物类型
				</div>
			</div>
			<div class="layui-form-item" style="width: 200px;">
				<select name="goodsType" lay-verify="required" id="tids">
					<option value="">直接选择或搜索选择</option>
				</select>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline" style="margin-left: 200px;">
			<div class="layui-form-item">
				<div class="layui-inline">
					<span style="color: red;">*</span>收件邮编
				</div>
			</div>
			<div class="layui-form-item" style="width: 200px;">
				<input type="text" name="receiveazipcode" id="receiveazipcodes" required lay-verify="required" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-inline" style="margin-left: 100px;">
			<div class="layui-form-item">
				<div class="layui-inline">
					<span style="color: red;">*</span>收件城市
				</div>
			</div>
			<div class="layui-form-item" style="width: 200px;">
				<input type="text" name="receiptcity" id="receiptcitys" required lay-verify="required" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-inline" style="margin-left: 100px;">
			<div class="layui-form-item">
				<div class="layui-inline">
					<span style="color: red;">*</span>申报价值
				</div>
			</div>
			<div class="layui-form-item" style="width: 200px;">
				<input type="text" name="rvaluedeclared" id="rvaluedeclareds" required lay-verify="required" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-inline" style="margin-left: 100px;">
			<div class="layui-form-item">
				<div class="layui-inline">
					包装类型
				</div>
			</div>
			<div class="layui-form-item" style="width: 200px;">
				<select name="packingType" lay-verify="required" id="pids">
					<option value="">直接选择或搜索选择</option>
				</select>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline" style="margin-left: 200px;">
			<div class="layui-form-item">
				<div class="layui-inline">
					<span style="color: red;">*</span>件数
				</div>
			</div>
			<div class="layui-form-item" style="width: 100px;">
				<input type="text" name="rnumberofcases" id="rnumberofcasess" required lay-verify="required" autocomplete="off" class="layui-input">
			</div>
		</div>
		<!-- <span class="site-demo-button" id="one">
            <button type="button" data-method="offset" data-type="auto" class="layui-btn layui-btn-normal layui-btn-sm"><i
                 class="layui-icon layui-icon-next"></i></button>
        </span> -->
		<div class="layui-inline" style="margin-left: 100px;">
			<div class="layui-form-item">
				<div class="layui-inline">
					<span style="color: red;">*</span>收费实重
				</div>
			</div>
			<div class="layui-form-item" style="width: 100px;">
				<input type="text" name="rchargeactualweight" id="rchargeactualweights" required lay-verify="required" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-inline" style="margin-left: 100px;">
			<div class="layui-form-item">
				<div class="layui-inline">
					<span style="color: red;">*</span>收费材重
				</div>
			</div>
			<div class="layui-form-item" style="width: 100px;">
				<input type="text" name="rchargeweight" id="rchargeweights" required lay-verify="required" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-inline" style="margin-left: 100px;">
			<div class="layui-form-item">
				<div class="layui-inline">
					<span style="color: red;">*</span>中文品名
				</div>
			</div>
			<div class="layui-form-item" style="width: 200px;">
				<input type="text" name="chineseName" id="rchinesenames" required lay-verify="required" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-inline" style="margin-left: 100px;">
			<div class="layui-form-item">
				<div class="layui-inline">
					<span style="color: red;">*</span>收件备注
				</div>
			</div>
			<div class="layui-form-item" style="width: 200px;">
				<input type="text" name="receiptnote" id="receiptnotes" required lay-verify="required" autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>

	<div class="layui-form-item">
		<div class="layui-inline" style="margin-left: 200px;">
			<div class="layui-form-item">
				<div class="layui-inline">
					付款方式
				</div>
			</div>
			<div class="layui-form-item" style="width: 200px;">
				<select name="rpaymentmethod" id="rpaymentmethods" lay-verify="required" lay-search="">
					<option value="">直接选择或搜索选择</option>
					<option value="1">PP</option>
					<option value="2">CC</option>
					<option value="3">TP</option>
				</select>
			</div>
		</div>
		<div class="layui-inline" style="margin-left: 100px;">
			<div class="layui-form-item">
				<div class="layui-inline">
					<span style="color: red;">*</span>到付款
				</div>
			</div>
			<div class="layui-form-item" style="width: 200px;">
				<input type="text" name="rtothepayment" id="rtothepayments" required lay-verify="required" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-inline">
			<div class="layui-inline" style="margin-left: 100px;">
				<div class="layui-form-item">
					<div class="layui-inline">
						税金付款
					</div>
				</div>
				<div class="layui-form-item" style="width: 200px;">
					<select name="rtaxpayment" id="rtaxpayments" lay-verify="required" lay-search="">
						<option value="">直接选择或搜索选择</option>
						<option value="1">PP</option>
						<option value="2">CC</option>
						<option value="3">TP</option>
					</select>
				</div>
			</div>
		</div>
		<div class="layui-inline" style="margin-left: 100px;">
			<div class="layui-form-item">
				<div class="layui-inline">
					<span style="color: red;">*</span>代收款
				</div>
			</div>
			<div class="layui-form-item" style="width: 200px;">
				<input type="text" name="ragencyfund" id="ragencyfunds" required lay-verify="required" autocomplete="off" class="layui-input">
			</div>
		</div>

		<div class="layui-inline" style="margin-left: 500px;margin-top: 100px;">
			<div class="layui-input-block">
				<button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		</div>
	</div>
</form>
</body>
<script src="../lib/layui-v2.5.4/layui.js"></script>
<script>
	function aa(res){
		console.log(res);
	}


	layui.use(['element', 'layer', 'form', 'layedit', 'laydate', 'table', 'jquery'], function() {
		var element = layui.element;
		var layer = layui.layer;
		var form = layui.form;
		var layedit = layui.layedit;
		var laydate = layui.laydate;
		var table = layui.table;
		var $ = layui.jquery;

		$.ajax({
			url: "/pxy/customerselect",
			type: "post",
			dataType: "JSON",
			async:false,
			success: function (res) {
				//var reslt=eval("("+res+")");
				$(res).each(function () {
					$("#cids").append("<option value='" + this.cid + "' >" + this.name + "</option>");
				});
				form.render('select'); //刷新select选择渲染
			}
		});

		$.ajax({
			url: "/pxy/customsdeclarationmethodselect",
			type: "post",
			dataType: "JSON",
			success: function (res) {
				//var reslt=eval("("+res+")");
				$(res).each(function () {
					$("#uids").append("<option value='" + this.cid + "' >" + this.customsDeclarationMethod + "</option>");
				});
				form.render('select'); //刷新select选择渲染
			}
		});

		$.ajax({
			url: "/pxy/specificrouteselect",
			type: "post",
			dataType: "JSON",
			success: function (res) {
				//var reslt=eval("("+res+")");
				$(res).each(function () {
					$("#sids").append("<option value='" + this.id + "' >" + this.routeName + "</option>");
				});
				form.render('select'); //刷新select选择渲染
			}
		});

		$.ajax({
			url: "/pxy/destinationselect",
			type: "post",
			dataType: "JSON",
			success: function (res) {
				//var reslt=eval("("+res+")");
				$(res).each(function () {
					$("#dids").append("<option value='" + this.did + "' >" + this.name + "</option>");
				});
				form.render('select'); //刷新select选择渲染
			}
		});

		$.ajax({
			url: "/pxy/typeofgoodsselect",
			type: "post",
			dataType: "JSON",
			success: function (res) {
				//var reslt=eval("("+res+")");
				$(res).each(function () {
					$("#tids").append("<option value='" + this.tid + "' >" + this.tname + "</option>");
				});
				form.render('select'); //刷新select选择渲染
			}
		});

		$.ajax({
			url: "/pxy/packagingtypeselect",
			type: "post",
			dataType: "JSON",
			success: function (res) {
				//var reslt=eval("("+res+")");
				$(res).each(function () {
					$("#pids").append("<option value='" + this.pid + "' >" + this.pname + "</option>");
				});
				form.render('select'); //刷新select选择渲染
			}
		});

		$.ajax({
			url: "/pxy/thewholebagofreceivingselect",
			type: "post",
			dataType: "JSON",
			data: "",
			success: function (res) {
				//var reslt=eval("("+res+")");
				$(res).each(function () {
					$("#orderBagNos").append("<option value='" + this.tcode + "' >" + this.tcode + "</option>");
				});
				form.render('select'); //刷新select选择渲染
			}
		});


		//监听表单提交
		form.on('submit(demo1)', function (data) {
			console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
			$.ajax({
				url: "/pxy/receiptrecordsheetupdate",
				type: "post",
				dataType: "text",
				data: data.field,
				success: function (res) {
					if (res == 'yes') {
						layer.msg("提交成功！", {time: 1000}, function () {
							//当你在iframe页面关闭自身时
							var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
							parent.layer.close(index); //再执行关闭
						});
					} else {
						layer.msg("修改失败")
					}
				}
			});
			return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
		});
	});
</script>
</html>
