<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/html">
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="../lib/layui-v2.5.4/css/layui.css">
		<link rel="stylesheet" href="../css/layuimini.css" media="all">
	</head>
	<body>
		<form class="layui-form" action="">
			<div class="layui-form-item" style="margin-top: 10px">
				<div class="layui-inline">
					<label class="layui-form-label"><span style="color: red;">*</span>收货袋号</label>
					<div class="layui-input-block">
						<input id="receivingbag3" type="text" name="tcode" required lay-verify="required" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label"><span style="color: #ff000b;">*</span>收货网点</label>
					<div class="layui-input-inline">
						<select name="treceivingsite" lay-verify="required" lay-search="" id="treceivingsites">
							<option value="">直接选择或搜索选择</option>
						</select>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label"><span style="color: red;">*</span>客户</label>
					<div class="layui-input-inline">
						<select name="cid" lay-verify="required" lay-search="" id="cids">
							<option value="">直接选择或搜索选择</option>
						</select>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label"><span style="color: red;">*</span>指定路线</label>
					<div class="layui-input-block">
						<div class="layui-input-inline">
							<select name="sid" lay-verify="required" lay-search="" id="sids">
								<option value="">直接选择或搜索选择</option>
							</select>
						</div>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label"><span style="color: red;">*</span>货物类型</label>
					<div class="layui-input-block">
						<div class="layui-input-inline">
							<select name="tid2" lay-verify="required" lay-search="" id="tids">
								<option value="">直接选择或搜索选择</option>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label"><span style="color: red;">*</span>袋状态</label>
					<div class="layui-input-inline">
						<select name="bid" lay-verify="required" lay-search="" id="bids">
							<option value="">直接选择或搜索选择</option>
						</select>
					</div>
				</div>
				<div class="layui-inline">
					<div class="layui-inline" style="margin-left: 100px;">
						<button id="btnFind" type="button" class="layui-btn">查询</button>
						<!--<button type="button" class="layui-btn" lay-submit="" lay-filter="demo1" id="btnFind">查询</button>-->
						<button type="reset" class="layui-btn layui-btn-primary">清空查询条件</button>
					</div>
				</div>
			</div>
		</form>
		<table class="layui-hide" id="layuidemo" lay-filter="layuidemo"></table>

		<script type="text/html" id="toolbarDemo">
			<div class="layui-btn-container">
				<button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
				<button class="layui-btn layui-btn-sm" lay-event="deletes">批量收货提交</button>
				<button class="layui-btn layui-btn-sm" lay-event="deletes1">批量撤销收货</button>
				<button class="layui-btn layui-btn-sm" lay-event="deletes2">批量删除</button>
				<button class="layui-btn layui-btn-sm" lay-event="xz">新增</button>
			</div>
		</script>

		<script type="text/html" id="barDemo">
			<a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
			<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
		</script>
	</body>
	<script src="../lib/layui-v2.5.4/layui.js"></script>
	<script>
		layui.use(['element', 'layer', 'form', 'layedit', 'laydate', 'table','jquery'], function() {
			var element = layui.element;
			var layer = layui.layer;
			var form = layui.form;
			var layedit = layui.layedit;
			var laydate = layui.laydate;
			var table = layui.table;
			var $ = layui.jquery;

			$.ajax({
				url: "/pxy/customerselect",
				type: "post",
				dataType: "JSON",
				async:false,
				success: function (res) {
					//var reslt=eval("("+res+")");
					$(res).each(function () {
						$("#cids").append("<option value='" + this.cid + "' >" + this.name + "</option>");
					});
					form.render('select'); //刷新select选择渲染
				}
			});

			$.ajax({
				url: "/pxy/specificrouteselect",
				type: "post",
				dataType: "JSON",
				success: function (res) {
					//var reslt=eval("("+res+")");
					$(res).each(function () {
						$("#sids").append("<option value='" + this.id + "' >" + this.routeName + "</option>");
					});
					form.render('select'); //刷新select选择渲染
				}
			});

			$.ajax({
				url: "/pxy/typeofgoodsselect",
				type: "post",
				dataType: "JSON",
				success: function (res) {
					//var reslt=eval("("+res+")");
					$(res).each(function () {
						$("#tids").append("<option value='" + this.tid + "' >" + this.tname + "</option>");
					});
					form.render('select'); //刷新select选择渲染
				}
			});

			$.ajax({
				url: "/pxy/bagofstateselect",
				type: "post",
				dataType: "JSON",
				success: function (res) {
					//var reslt=eval("("+res+")");
					$(res).each(function () {
						$("#bids").append("<option value='" + this.bid + "' >" + this.bstate + "</option>");
					});
					form.render('select'); //刷新select选择渲染
				}
			});

			$.ajax({
				url: "/pxy/outletselect",
				type: "post",
				dataType: "JSON",
				success: function (res) {
					//var reslt=eval("("+res+")");
					$(res).each(function () {
						$("#treceivingsites").append("<option value='" + this.oid + "' >" + this.name + "</option>");
					});
					form.render('select'); //刷新select选择渲染
				}
			});


			table.render({
				elem: '#layuidemo',
				url: '/pxy/tbbrcstt',
				toolbar: '#toolbarDemo',
				title: '用户数据表',
				totalRow: true,
				cols: [
					[ //表头
						{type: 'checkbox', fixed: 'left'},
						{field: 'tcode', title: '袋号', width: 127, sort: true},
						{field: 'bid', title: '袋状态', width: 127, sort: true,templet: function(res){
								if(res.bid==1){
									return '待收货'
								}else if(res.bid==2){
									return '收货中'
								}else if(res.bid==3){
									return '已收货'
								}else if(res.bid==4){
									return '已取消'
								}
							}},
						{field: 'oname', title: '收货网点', width: 127,templet: '<div>{{d.outlet.name}}</div>'},
						{field: 'cid', title: '客户编码', width: 127,templet: '<div>{{d.customer.cid}}</div>'},
						{field: 'name', title: '客户名称', width: 127,templet: '<div>{{d.customer.name}}</div>'},
						{field: 'routeName', title: '指定路线', width: 127, sort: true,templet: '<div>{{d.specificroute.routeName}}</div>'},
						{field: 'tname', title: '货物类型', width: 127, sort: true,templet: '<div>{{d.typeofgoods.tname}}</div>'},
						{field: 'thetotalnumberofbags', title: '总袋数', width: 127, sort: true},
						{field: 'total', title: '总票数', width: 127, sort: true},
						{field: 'predictionofheavy', title: '预报重', width: 127, sort: true},
						{field: 'creationtime', title: '创建时间', width: 127, sort: true},
						{field: 'tmodificationtime', title: '修改时间', width: 127, sort: true},
						{fixed: 'right', title:'操作', toolbar: '#barDemo', width:127},
					]
				],
				page: true,
				limit: 2,
				limits: [3, 5, 7],
				id:"idTest"
			});

			//头工具栏事件
			table.on('toolbar(layuidemo)', function(obj){
				var checkStatus = table.checkStatus(obj.config.id);
				switch(obj.event){
					case 'isAll':
						layer.msg(checkStatus.isAll ? '全选': '未全选');
						break;
						//批量修改
					case 'deletes':
						var data=checkStatus.data;
						if(data.length==0){
							layer.alert("请先选择要修改的数据！");
						}else{
							layer.confirm('您确定要修改状态吗',{title:'提示',icon: 3},function(index){
								var tcode=[];
								$(data).each(function () {
									tcode.push(this.tcode);
								});
								$.ajax({
									url:"/pxy/thewholebagofreceivingupdatesh",
									type:"post",
									/*data:JSON.stringify(),*/
									//contentType:'application/json',
									dataType:"text",
									data:{"tcode":tcode},
									success:function(res){
										layer.msg("成功修改"+res+"条数据！");
										table.reload('idTest');
									}
								});
							});
						}
						break;
					case 'deletes1':
						var data=checkStatus.data;
						if(data.length==0){
							layer.alert("请先选择要取消修改的数据！");
						}else{
							layer.confirm('您确定要取消修改状态吗',{title:'提示',icon: 3},function(index){
								var tcode=[];
								$(data).each(function () {
									tcode.push(this.tcode);
								});
								$.ajax({
									url:"/pxy/thewholebagofreceivingupdateshz",
									type:"post",
									/*data:JSON.stringify(),*/
									//contentType:'application/json',
									dataType:"text",
									data:{"tcode":tcode},
									success:function(res){
										layer.msg("成功修改"+res+"条数据！");
										table.reload('idTest');
									}
								});
							});
						}
						break;
					case 'deletes2':
						var data=checkStatus.data;
						if(data.length==0){
							layer.alert("请先选择要删除的数据！");
						}else{
							layer.confirm('真的删除行么',{title:'提示',icon: 3},function(index){
								var tcode=[];
								$(data).each(function () {
									tcode.push(this.tcode);
								});tcode
								$.ajax({
									url:"/pxy/deletethewholebagofreceiving",
									type:"post",
									//data:JSON.stringify(),
									//contentType:'application/json',
									dataType:"text",
									data:{"tcode":tcode},
									success:function(res){
										layer.msg("成功删除"+res+"条数据！");
										table.reload('idTest');
									}
								});
							});
						}
						break;
					case 'xz':
						//Ajax获取
						layer.open({
							title:'新增',
							type: 2,
							area: ['1500px', '600px'],
							content: '/pxy/thewholebagofreceivinginserts', //注意，如果str是object，那么需要字符拼接。

						});
						break;
				};
			});

			$("#btnFind").click(function () {
				//表格重载
				table.reload('idTest', {
					method: 'post',
					where: {
						"tcode": $("#receivingbag3").val(),
						"treceivingsite": $("#treceivingsites").val(),
						"cid": $("#cids").val(),
						"sid": $("#sids").val(),
						"tid2": $("#tids").val(),
						"bid": $("#bids").val()
						/*"starts":$("#date2").val(),
                        "end":$("#date1").val()*/
					} //设定异步数据接口的额外参数
					, page: {
						curr: 1 //重新从第 1 页开始
					}
				});
			});

			//监听行工具事件
			table.on('tool(layuidemo)', function(obj){
				var data = obj.data;
				//console.log(obj)
				if(obj.event === 'del'){
					layer.confirm('真的删除行么',{title:'提示',icon: 3},function(index){
						$.ajax({
							url:"/pxy/thewholebagofreceivingdelete",
							type:"post",
							dataType:"text",
							data:{"tcode":obj.data.tcode},
							success:function(res){
								alert(res);
								if(res=='true'){
									obj.del();
									layer.msg("删除成功！");
								}
							}
						});
						layer.close(index);
					});
				}else if(obj.event === 'edit'){
					//Ajax获取
					layer.open({
						title:'修改论文',
						type: 2,
						area: ['1500px', '600px'],
						content: '/pxy/thewholebagofreceivingupdatess', //注意，如果str是object，那么需要字符拼接。
						success: function(layero, index){
							var iframe =layero.find("iframe")[0].contentWindow;
							var body=layer.getChildFrame('body', index);
							body.find("#tcodes").val(data.tcode);
							body.find("#thetotalnumberofbagss").val(data.thetotalnumberofbags);
							body.find("#totals").val(data.total);
							body.find("#predictionofheavys").val(data.predictionofheavy);
							body.find("#thegoodsweights").val(data.thegoodsweight);
							body.find("#tremarks").val(data.tremark);
							body.find("#totakeparts").val(data.totakepart);

							console.log(iframe);
							setTimeout(function () {
								body.find("#cids").val(data.cid);
								body.find("#sids").val(data.sid);
								body.find("#treceivingsites").val(data.treceivingsite);
								body.find("#tids").val(data.tid2);


								iframe.layui.form.render('select');
							},1000);
							iframe.aa(data.tcode);
						},
						end:function(){
							table.reload('idTest');
						}
					});
				}

			});
		});
	</script>
</html>
