<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="../lib/layui-v2.5.4/css/layui.css">
		<link rel="stylesheet" href="../lib/layui-v2.5.4/css/soulTable.css" media="all">
	</head>
	<body>
		<form class="layui-form" action="">
			<div class="layui-form-item">
				<div class="layui-inline">
					<button type="submit" class="layui-btn layui-btn-sm" lay-submit="" lay-filter="demo1" style="margin: 0;background-color: #0FBA38;">登记</button>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label"><span style="color: red;">*</span>运单号码</label>
					<div class="layui-input-inline">
						<select name="waybillNumber" id="waybillNumbers" lay-verify="required" lay-search="">
							<option value="">直接选择或搜索选择</option>
						</select>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label"><span style="color: red;">*</span>问题状态</label>
					<div class="layui-input-inline">
						<select name="problemStatus" id="problemStatuss" lay-verify="required" lay-search="">
							<option value="">直接选择或搜索选择</option>
						</select>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label"><span style="color: red;">*</span>处理网点</label>
					<div class="layui-input-inline">
						<select name="processingOutlets" id="processingOutletss" lay-verify="required" lay-search="">
							<option value="">直接选择或搜索选择</option>
						</select>
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-form-item layui-form-text">
					<label class="layui-form-label">问题描述</label>
					<div class="layui-input-block">
						<textarea name="problemDescription"  placeholder="请输入内容" class="layui-textarea"></textarea>
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label"><span style="color: red;">*</span>指定处理人</label>
					<div class="layui-input-inline">
						<select name="registrant" id="registrants" lay-verify="required" lay-search="">
							<option value="">直接选择或搜索选择</option>
						</select>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label"><span style="color: red;">*</span>通知人</label>
					<div class="layui-input-inline">
						<select name="problemNotificationPerson" id="problemNotificationPersons" lay-verify="required" lay-search="">
							<option value="">直接选择或搜索选择</option>
						</select>
					</div>
				</div>
			</div>
			<table class="layui-hide" id="layuidemo" lay-filter="layuidemo"></table>
		</form>
	</body>
	<script src="../lib/layui-v2.5.4/layui.js"></script>
	<script src="../js/lay-config.js?v=1.0.4" charset="utf-8"></script>
	<script>
		layui.use(['element','jquery', 'layer', 'form', 'layedit', 'laydate', 'table','upload'], function() {
			var element = layui.element;
			var $ = layui.jquery;
			var layer = layui.layer;
			var form = layui.form;
			var layedit = layui.layedit;
			var laydate = layui.laydate;
			var table = layui.table;
			var upload = layui.upload;

			$.ajax({
				url: "/pxy/customerselect",
				type: "post",
				dataType: "JSON",
				async:false,
				success: function (res) {
					//var reslt=eval("("+res+")");
					$(res).each(function () {
						$("#problemNotificationPersons").append("<option value='" + this.cid + "' >" + this.name + "</option>");
					});
					form.render('select'); //刷新select选择渲染
				}
			});

			$.ajax({
				url: "/pxy/outletselect",
				type: "post",
				dataType: "JSON",
				success: function (res) {
					//var reslt=eval("("+res+")");
					$(res).each(function () {
						$("#processingOutletss").append("<option value='" + this.oid + "' >" + this.name + "</option>");
					});
					form.render('select'); //刷新select选择渲染
				}
			});

			$.ajax({
				url: "/pxy/orderselect",
				type: "post",
				dataType: "JSON",
				success: function (res) {
					//var reslt=eval("("+res+")");
					$(res).each(function () {
						$("#waybillNumbers").append("<option value='" + this.oid + "' >" + this.oid + "</option>");
					});
					form.render('select'); //刷新select选择渲染
				}
			});

			$.ajax({
				url: "/pxy/problemStatusselect",
				type: "post",
				dataType: "JSON",
				success: function (res) {
					//var reslt=eval("("+res+")");
					$(res).each(function () {
						$("#problemStatuss").append("<option value='" + this.pid + "' >" + this.questionName + "</option>");
					});
					form.render('select'); //刷新select选择渲染
				}
			});

			$.ajax({
				url: "/pxy/staffselect",
				type: "post",
				dataType: "JSON",
				success: function (res) {
					//var reslt=eval("("+res+")");
					$(res).each(function () {
						$("#registrants").append("<option value='" + this.sid + "' >" + this.name + "</option>");
					});
					form.render('select'); //刷新select选择渲染
				}
			});


			table.render({
				elem: '#layuidemo',
				url: '/pxy/ropucs',
				toolbar: true,
				title: '用户数据表',
				totalRow: true,
				cols: [
					[ //表头
						{type: 'checkbox', fixed: 'left'},
						{field: 'waybillNumber', title: '运单号码', width: 203, sort: true},
						{field: 'problemStatus', title: '问题状态', width: 203,templet: '<div>{{d.problem.questionName}}</div>'},
						{field: 'problemDescription', title: '问题描述', width: 203},
						{field: 'processingOutlets', title: '处理网点', width: 203,templet: '<div>{{d.outlet.name}}</div>'},
						{field: 'name', title: '问题件通知人', width: 203, sort: true,templet: '<div>{{d.customer.name}}</div>'},
						{field: 'asOfProcessingDate', title: '截至处理时间', width: 203, sort: true},
						{field: 'registrationOutlets', title: '登记网点', width: 203, sort: true,templet: '<div>{{d.outlet.name}}</div>'},
						{field: 'registrant', title: '登记人', width: 203, sort: true,templet: '<div>{{d.staff.name}}</div>'},
					]
				],
				page: true,
				limit: 2,
				limits: [3, 5, 7],
				id:"idTest"
			});

			//监听表单提交
			form.on('submit(demo1)', function(data){
				console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
				var url=$("#url").val();
				$.ajax({
					url:"/pxy/registrationOfProblemsBeforePortinsert",
					type:"post",
					dataType:"text",
					data:data.field,
					success:function(res){
						if(res=='yes'){
							layer.msg("提交成功！",{time:1000},function(){
								//当你在iframe页面关闭自身时
								var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
								parent.layer.close(index); //再执行关闭
							});
						}else{
							layer.msg("提交失败！");
						}
					}
				});
				return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
			});


		});
	</script>
</html>
