<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="../lib/layui-v2.5.4/css/layui.css" media="all">
		<style type="text/css">
			
		</style>
	</head>
	<body>
		<blockquote class="layui-elem-quote layui-text" style="width: 600px; height: 5px !important; line-height: 5px;">
			操作
		</blockquote>
		<form class="layui-form" action="">
			<div class="layui-inline">
			    <label class="layui-form-label">退返方式</label>
			    <div class="layui-input-block">
			      <select name="interest" lay-filter="aihao">
			        <option value=""></option>
			        <option value="0">写作</option>
			        <option value="1">阅读</option>
			        <option value="2">游戏</option>
			        <option value="3">音乐</option>
			        <option value="4">旅行</option>
			      </select>
			    </div>
	  		</div>
			<div class="layui-inline">
		      <label class="layui-form-label">退返单号</label>
		      <div class="layui-input-inline">
		        <input type="tel" name="" class="layui-input">
		      </div>
		    </div>
		    <br /><br />
		    <div class="layui-form-item layui-form-text">
		    	<label class="layui-form-label">退返备注</label>
		      <textarea placeholder="请输入内容" class="layui-textarea"style="width: 600px; height: 200px;margin: 0px 20px;"></textarea>
			</div>
			<div align="center">
				<button type="button" class="layui-btn layui-btn-normal">确定</button>
				<button type="button" class="layui-btn layui-btn-primary">关闭</button>
			</div>
		</form>
		<script src="../lib/layui-v2.5.4/layui.js" charset="utf-8"></script>
		<script>
		layui.use(['jquery','form'], function(){
		  var $ = layui.jquery;
		  var form = layui.form;
		  
		  
		  
		  
				
		  });
		  
		</script>
	</body>
</html>