<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="../lib/layui-v2.5.4/css/layui.css" media="all">
		<link rel="stylesheet" href="../css/layuimini.css" media="all">
		<link rel="stylesheet" href="../css/layui-v2.5.4/css/soulTable.css" />
		<style type="text/css">
			.btn-bgcolor {
				background-color: #286ED6;
				width: 80px;
			}
			.btn-bgcolor2 {
				margin-top: 14.4%;
				background-color: #286ED6;
				width: 70px;
			}
			.btn-bgcolor3 {
				margin-top: 14.4%;
				width: 70px;
			}
			#luxian{
				position: absolute;
				left: 55.5%;
				top: 30%;
			}
			.inputwid{
				width: 150px;
			}
		</style>
	</head>
	<body>
		<div  class="layui-inline"  style="margin-top: -20.5%;"><div id="test9" class="demo-tree demo-tree-box" style="width: 230px; height: 300px; overflow: scroll;"></div></div>
		<div class="layui-inline" style="margin-left: 20px;margin-top: 20px;">
			<!-- 导航start -->
			<form class="layui-form layui-form-pane" action="">
				<div class="layui-form-item">
					<div class="layui-inline">
						<button type="button" class="layui-btn layui-btn-sm  btn-bgcolor" style="background-color: #0FBA38;">新增</button>
					</div>
					<div class="layui-inline">
						<button type="button" class="layui-btn layui-btn-sm  btn-bgcolor">修改</button>
					</div>
					<div class="layui-inline">
						<button type="button" class="layui-btn layui-btn-sm " style="width: 80px; background-color: #E9161E;">删除</button>
					</div>
					<div class="layui-inline">
						<button type="button" class="layui-btn layui-btn-sm  btn-bgcolor">角色授权</button>
					</div>
					<div class="layui-inline">
						<button type="button" class="layui-btn layui-btn-sm layui-btn-primary"  style="width: 80px;">导出</button>
					</div>
				</div>
				<!-- 导航end -->
				<!-- 搜索start -->
				<div class="layui-form-item">
					<div class="layui-inline">
						<div class="layui-form-item">部门</div>
						<div class="layui-form-item inputwid">
							<select name="city" lay-verify="required">
								<option value=""></option>
								<option value="">运单号码</option>
								<option value="">参考编号</option>
								<option value="">订单号码</option>
							</select>
						</div>
					</div>
					<div class="layui-inline">
						<div class="layui-form-item">职位</div>
						<div class="layui-form-item inputwid">
							<input type="text" name="price_max" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<div class="layui-form-item">标准职位</div>
						<div class="layui-form-item inputwid">
							<select name="city" lay-verify="required">
								<option value=""></option>
								<option value="">运单号码</option>
								<option value="">参考编号</option>
								<option value="">订单号码</option>
							</select>
						</div>
					</div>
					<div class="layui-inline">
						<div class="layui-form-item">启用状态</div>
						<div class="layui-form-item inputwid">
							<select name="city" lay-verify="required">
								<option value=""></option>
								<option value="">运单号码</option>
								<option value="">参考编号</option>
								<option value="">订单号码</option>
							</select>
						</div>
					</div>
					<div class="layui-inline">
						<button type="button" class="layui-btn layui-btn-sm  btn-bgcolor2">查询</button>
						<button type="button" class="layui-btn layui-btn-sm  layui-btn-primary btn-bgcolor3">重置</button>
					</div>
				</div>
				<!-- 搜索end -->	
		
				<!-- 显示数据start -->
				  <table class="layui-hide" id="myTable"></table>
				<!-- 显示数据end -->
			</form>
		</div>
		<script src="../lib/layui-v2.5.4/layui.js" charset="utf-8"></script>
		<script>
			// 自定义模块
			layui.config({
				base: '../ext/',   // 模块目录
				version: 'v1.5.4'
			}).extend({                         // 模块别名
				soulTable: 'soulTable'
			});
			
			layui.use(['element', 'layer', 'form', 'laydate','table','tree', 'util'], function() {
				var $ = layui.jquery,
					element = layui.element,
					layer = layui.layer,
					form = layui.form,
					table = layui.table,
					tree = layui.tree
					,layer = layui.layer
					,util = layui.util
					,laydate = layui.laydate
					//模拟数据1
					,data1 = [{
					  title: '江西'
					  ,id: 1
					  ,children: [{
					    title: '南昌'
					    ,id: 1000
					    ,children: [{
					      title: '青山湖区'
					      ,id: 10001
					    },{
					      title: '高新区'
					      ,id: 10002
					    }]
					  },{
					    title: '九江'
					    ,id: 1001
					  },{
					    title: '赣州'
					    ,id: 1002
					  }]
					},{
					  title: '广西'
					  ,id: 2
					  ,children: [{
					    title: '南宁'
					    ,id: 2000
					  },{
					    title: '桂林'
					    ,id: 2001
					  }]
					},{
					  title: '陕西'
					  ,id: 3
					  ,children: [{
					    title: '西安'
					    ,id: 3000
					  },{
					    title: '延安'
					    ,id: 3001
					  }]
					}];
				//日期
				laydate.render({
					elem: '#test16',
					type: 'datetime',
					range: '到',
					format: 'yyyy-M-d H:m:s'
				});
				
				
				
				//开启节点操作图标
				tree.render({
				  elem: '#test9'
				  ,data: data1
				  ,edit: ['add', 'update', 'del'] //操作节点的图标
				  ,click: function(obj){
				    layer.msg(JSON.stringify(obj.data));
				  }
				});
				table.render({
					elem: '#myTable'
					,url: '#'
					,height: 400
					,contextmenu: {
						// 表格内容右键菜单配置
						body: [
							{
								name: '是否选中',
								icon: 'layui-icon layui-icon-theme',
								children: [
									
									{
										name: '选中此条',
										click: function(obj) {
											obj.trElem.css('background', '#e67664');
											//userData.push(JSON.stringify(obj.row.bregistered));
											//alert(JSON.stringify(obj.row.bphone));
											var data=obj.row.bphone;
											var bool=true;
											if(userData.length>0){
												userData.forEach(function (result) {
													if(data.indexOf(result)!=-1){
														bool=false;
													}
												})
											}else{
												bool=false;
												userData.push(data)
											}
											if(bool==true){
												userData.push(data)
									
											}
											layer.msg('选择成功！');
										}
									}
									,
									{
										name: '取消选择',
										click: function(obj) {
											var data=obj.row.bphone;
											obj.trElem.css('background', '#fff');
											userData.forEach(function (result,index) {
												if(data.indexOf(result)!=-1){
													userData.splice(index,1);
												}
											})
											layer.msg('已取消选择！');
										}
									}
								]
							}
						],
					}
					,cols:  [
						[
							{field:'rid', title:'档案编号', width:100, fixed: 'left', unresize: true, sort: true}
							,{field:'bname', title:'姓名', width:120}
							,{field:'bcertificate', title:'身份证号码' ,width:200}
							,{field:'bage', title:'年龄',width:80}
							,{field:'birth', title:'出生日期', width:130, sort: true}
							,{field:'bregistered', title:'地址',width:130, sort: true}
							,{field:'bphone', title:'手机号码'}
						]
					],
					limit:5
					,page:true
					,id:"tableData"
					,where: { map: "all" }
					,done: function () {
						soulTable.render(this)
					}
				})
				$("#addStatmag").on("click",function(){
					layer.open({
						type:2,
						content:'addStatmag.html',
						area:['710px','500px'],
						title:'新增网点',
						success: function (layero, index) {   //弹出层弹出后的回调函数
							//var iframe = window['layui-layer-iframe' + index];// 获取子页面的iframe
							//iframe.child(data.id);   // 向子页面的全局函数child传参
						},
						end:function(){     //弹出层销毁后的事件
							//table.reload("userTable");//增加成功后刷新表格
						}
				  })
				})
				
				
			});
		/* layui.use(['tree', 'util'], function(){
		  var tree = layui.tree
		  ,layer = layui.layer
		  ,util = layui.util
		  //模拟数据1
		  ,data1 = [{
		    title: '江西'
		    ,id: 1
		    ,children: [{
		      title: '南昌'
		      ,id: 1000
		      ,children: [{
		        title: '青山湖区'
		        ,id: 10001
		      },{
		        title: '高新区'
		        ,id: 10002
		      }]
		    },{
		      title: '九江'
		      ,id: 1001
		    },{
		      title: '赣州'
		      ,id: 1002
		    }]
		  },{
		    title: '广西'
		    ,id: 2
		    ,children: [{
		      title: '南宁'
		      ,id: 2000
		    },{
		      title: '桂林'
		      ,id: 2001
		    }]
		  },{
		    title: '陕西'
		    ,id: 3
		    ,children: [{
		      title: '西安'
		      ,id: 3000
		    },{
		      title: '延安'
		      ,id: 3001
		    }]
		  }]
		  
		  //开启节点操作图标
		  tree.render({
		    elem: '#test9'
		    ,data: data1
		    ,edit: ['add', 'update', 'del'] //操作节点的图标
		    ,click: function(obj){
		      layer.msg(JSON.stringify(obj.data));
		    }
		  });
		}); */
		</script>
	</body>
</html>
