<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>出货</title>
		<link rel="stylesheet" href="/lib/layui-v2.5.4/css/layui.css" media="all">
		<link rel="stylesheet" href="/css/layuimini.css" media="all">
	</head>

	<body>
		<form class="layui-form" action="">
			<div class="layui-form-item" style="margin-left: -100px;margin-top: -20px;background-color: #F6F8F8;">
				<br />
				<div class="layui-inline">
					<div class="layui-form-item">
						<div class="layui-inline">
							<div class="layui-input-block">
								<span style="font-size: 26px;line-height: 50px;">总运单号</span>
								<button type="button" style="margin-left:90px;" class="layui-btn layui-btn-normal layui-btn-sm" id="a"><span>总运单</span></button>
							</div>
							<div class="layui-input-block">
								<div class="layui-input-inline">
									<input type="text" style="width: 260px;height: 50px;" name="title"  required lay-verify="required" disabled="disabled" autocomplete="off" class="layui-input">

								</div>
							</div>
						</div>
						<div class="layui-inline" style="margin-left: -50px;">
							<div class="layui-input-block">
								<span style="font-size: 26px;line-height: 60px;">扫描单号
									<span id="asd">
									<input id="jinyong" lay-ignore type="checkbox" name="like1[write]" lay-skin="primary" style="margin-left: 10px;"><span style="font-size: 12px;margin-left: 10px;">扫描</span></span>
								</span>
							</div>
							<div class="layui-input-block">
								<div class="layui-input-inline">
									<input type="text" style="width: 260px;height: 50px;margin-top: -11px;" name="title"  required lay-verify="required" autocomplete="off" class="layui-input">
								</div>
							</div>
						</div>
					</div>
					<br /><br />
					<div class="layui-form-item" style="margin-top: -60px;">
						<div class="layui-inline">
							<div class="layui-input-block">
								<sapn style="font-size: 26px;line-height: 50px;">扫描单号</sapn>
							</div>
							<div class="layui-input-block">
								<div class="layui-input-inline">
									<input type="text" style="width: 260px;height: 50px;" name="title"  required lay-verify="required" autocomplete="off" class="layui-input">
								</div>
							</div>
						</div>
						<div class="layui-inline" style="margin-left: 0px;">
							<div class="layui-input-block">
								<sapn id="client3" style="font-size: 26px;line-height: 60px;"><span>转单号码</span>
									<input id="client4" lay-ignore type="checkbox" name="like1[write]" lay-skin="primary" style="margin-left: 10px;">
									<span style="font-size: 12px;margin-left: 10px;">扫描</span></sapn>
							</div>
							<div class="layui-input-block">
								<div class="layui-input-inline">
									<input type="text" id="asdfg" style="width: 260px;height: 50px;margin-top: -11px;" name="title"  required lay-verify="required" autocomplete="off" class="layui-input layui-disabled">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="layui-inline" style="margin-top: -5px;margin-left: 50px;">
					<p style="background-color: #F5F5F5; width: 500px; line-height: 25px;"><span style="background-color: #00c1de;">&nbsp;</span><span style="margin-left: 20px;">出港路由规则</span></p>
					<div>
						<p style="line-height: 35px;">
							<span>出港路由</span>
							<span style="margin-left: 100px;">下一网点</span>
					
						</p>
						<input type="text" style="width: 150px;height:26px;border: 1px solid #d1d1d1;" />
						<input type="text" style="width: 150px;height:26px;border: 1px solid #d1d1d1;" />
					</div>
					<div>
						<p style="line-height: 35px;">
							<span>走货路线</span>
							<span style="margin-left: 100px;">报关方式</span>
						</p>
						<input type="text" style="width: 150px;height:26px;border: 1px solid #d1d1d1;" />
						<input type="text" style="width: 150px;height:26px;border: 1px solid #d1d1d1;" />
					</div>
				</div>
				</div>
				<div style="margin-left: 10px;margin-right: 10px;">
					<table class="layui-hide"  id="test"></table>
					<button type="button" class="layui-btn layui-btn-normal layui-btn-sm">发送</button>
				<a href="javascript:void(0)" data-iframe-tab="general_waybill.html" data-title="总运单管理" data-icon="fa fa-hourglass-end">
					<button type="button" class="layui-btn layui-btn-normal layui-btn-sm">总运单管理</button>
				</a>
				</div>
				
		</form>
	</body>
		<script src="/lib/layui-v2.5.4/layui.js" charset="utf-8"></script>
		<script src="/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
	<script>
		var abc;
		layui.use(['layer', 'form', 'jquery', 'table','element','layuimini'], function() {
			   		var $ = layui.jquery,
		            element = layui.element,
		            layer = layui.layer,
		            form = layui.form,
					table = layui.table;
			table.render({
				elem: '#test',
				url: '/demo/table/user/',
				cellMinWidth: 80, //全局定义常规单元格的最小宽度，layui 2.2.1 新增,
				defaultToolbar: ['filter', 'print', 'exports'],
				cols: [
					[{
							field: 'id',
							title: '扫描时间'
						}, {
							field: 'username',
							title: '类型'
						}, {
							field: 'sex',
							title: '扫描单号',
						}, {
							field: 'city',
							title: '转单号码'
						}, {
							field: 'sign',
							title: '运单号码',
						} 
						, {
							field: 'experience',
							title: '客户',
						}, {
							field: 'score',
							title: '指定路线',
						}, {
							field: 'classify',
							title: '运单件数'
						}, {
							field: 'wealth',
							title: '出货重',
						}, {
							field: 'wealth',
							title: '目的地',
						}, {
							field: 'wealth',
							title: '走货路线',
						}, {
							field: 'wealth',
							title: '报关类型',
						}, {
							field: 'wealth',
							title: '货物类型'
						}
					]
				]
			});
			
			$("#a").click(function() {
				alert(1)
				layer.open({
					type: 2,
					content: "eject.html",
					area: ['800px', '500px'],
					title: '选择总运单',
					end: function(layero, index) {
						$("#id").val(abc);
					}
				});
			})
			var wu1 = function() {
				if ($("#jinyong").is(':checked')) {
					$("#a").removeClass("layui-disabled")
					$("#a").prop('disabled', false);
					form.render();
				} else {
					$("#a").addClass("layui-disabled");
					$("#a").prop('disabled', true);
					$("#id").val("");
					form.render();
				}
			}
			var wu2 = function() {
				if ($("#client4").is(':checked')) {
					$("#asdfg").removeClass("layui-disabled")
					$("#asdfg").prop('disabled', false);
					form.render();
				} else {
					$("#asdfg").addClass("layui-disabled");
					$("#asdfg").prop('disabled', true);
					$("#asdfg").val("");
					form.render();
				}
			}

			$("#client1").click(wu1);
			$("#client3").click(wu2)
			$("#asd").click(function(){
				
				if ($("#jinyong").is(':checked')) {
					
					$("#asdfg").addClass("layui-disabled");
					$("#asdfg").prop('disabled', true);
					$("#asdfg").val("");
					$("#client4").addClass("layui-disabled");
					$("#client4").prop('disabled', true);
					form.render();
					
				} else {
					$("#asdfg").removeClass("layui-disabled")
					$("#asdfg").prop('disabled', false);
					$("#client4").removeClass("layui-disabled");
					$("#client4").prop('disabled', false);
					form.render();
				}
			})

		});
	</script>
</html>