<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>追踪查询</title>
			<link rel="stylesheet" href="../lib/layui-v2.5.4/css/layui.css">
		<link rel="stylesheet" href="../lib/layui-v2.5.4/css/soulTable.css" media="all">
	</head>
	<body style="background-color: #F6F8F8;">
		
		<div class="layui-tab">
  <ul class="layui-tab-title">
  	<li class="layui-this">运单信息</li>
    <li>追踪信息(1)</li>
    <li>修改日志(0)</li>
    <li>问题信息(0)</li>
    <li>跟进日志(无)</li>
    <li>货款信息(无)</li>
    <li>INVOICE信息(无)</li>
    <li>运单文件(无)</li>
  </ul>
  <div class="layui-tab-content">
    <div class="layui-tab-item layui-show">
         	<div class="layui-inline" style="margin-top: -5px;margin-left: 50px;">
					<p style="background-color: #F5F5F5; width: 100%; line-height: 25px;"><span style="background-color: #00c1de;">&nbsp;</span><span style="margin-left: 20px;">运单信息</span></p>
					<div>
						<p style="line-height: 35px;">
							<span>运单号码<span>
							<span style="margin-left: 108px;">转单号码<span>
							<span style="margin-left: 100px;">参考编码<span>
							<span style="margin-left: 110px;">退件单号<span>
							<span style="margin-left: 100px;">shipMentId<span>
							<span style="margin-left: 90px;">寄件日期<span>
						</p>
						   <input type="text" style="width: 157px;height:22px;border: 1px solid #d1d1d1;" />
						   <input type="text" style="width: 157px;height:22px;border: 1px solid #d1d1d1;" />
						   <input type="text" style="width: 157px;height:22px;border: 1px solid #d1d1d1;" />
						   <input type="text" style="width: 157px;height:22px;border: 1px solid #d1d1d1;" />
						   <input type="text" style="width: 157px;height:22px;border: 1px solid #d1d1d1;" />
						   <input type="text" style="width: 157px;height:22px;border: 1px solid #d1d1d1;" />
					</div>
							<div>
						<p style="line-height: 35px;">
							<span>寄件网点<span>
							<span style="margin-left: 105px;">客户<span>
							<span style="margin-left: 135px;">指定路线<span>
							<span style="margin-left: 102px;">目的地<span>
							<span style="margin-left: 120px;">走货路线<span>
							<span style="margin-left: 100px;">录单时间<span>
						</p>
						   <input type="text" style="width: 157px;height:22px;border: 1px solid #d1d1d1;" />
						   <input type="text" style="width: 157px;height:22px;border: 1px solid #d1d1d1;" />
						   <input type="text" style="width: 157px;height:22px;border: 1px solid #d1d1d1;" />
						   <input type="text" style="width: 157px;height:22px;border: 1px solid #d1d1d1;" />
						   <input type="text" style="width: 157px;height:22px;border: 1px solid #d1d1d1;" />
						   <input type="text" style="width: 157px;height:22px;border: 1px solid #d1d1d1;" />
					</div>
					<p style="background-color: #F5F5F5; width: 100%; line-height: 25px;">
						<span style="background-color: #00c1de;">&nbsp;</span>
						<span style="margin-left: 20px;">货物信息</span>
					   <span style="background-color: #F5F5F5; width: 100%; line-height: 25px;margin-left: 570px;">
					   	<span style="background-color: #00c1de;">&nbsp;</span>
						<span style="margin-left: 20px;">费用结算</span>
					   </span>
					   <span style="background-color: #F5F5F5; width: 100%; line-height: 25px;margin-left: 20px;">
					   	<span style="background-color: #00c1de;">&nbsp;</span>
						<span style="margin-left: 20px;">客户服务信息</span>
					   </span>
					</p>
					<div>
						<p style="line-height: 35px;">
							<span>报关方式<span>
							<span style="margin-left: 25px;">货物类型<span>
							<span style="margin-left: 25px;">申报价值<span>
							<span style="margin-left: 25px;">包装类型<span>
							<span style="margin-left: 25px;">件数<span>
							<span style="margin-left: 72px;">品名<span>
							<span style="margin-left: 175px;">付款方式<span>
							<span style="margin-left: 25px;">到付款<span>
							<span style="margin-left: 39px;">销售员<span>
							<span style="margin-left: 35px;">跟单员<span>
						</p>
						<input type="text" style="width: 76px;height:22px;border: 1px solid #d1d1d1;" />
						<input type="text" style="width: 76px;height:22px;border: 1px solid #d1d1d1;" />
						<input type="text" style="width: 80px;height:22px;border: 1px solid #d1d1d1;" />
						<input type="text" style="width: 80px;height:22px;border: 1px solid #d1d1d1;" />
						<input type="text" style="width: 50px;height:22px;border: 1px solid #d1d1d1;" />
						<button type="button" class="layui-btn  layui-btn-xs" style="background-color: #286ED6;width: 40px;" id="hz">>></button>
						<input type="text" style="width: 210px;height:22px;border: 1px solid #d1d1d1;" />
						<input type="text" style="width: 76px;height:22px;border: 1px solid #d1d1d1;" />
						<input type="text" style="width: 76px;height:22px;border: 1px solid #d1d1d1;" />
						<input type="text" style="width: 76px;height:22px;border: 1px solid #d1d1d1;" />
						<input type="text" style="width: 76px;height:22px;border: 1px solid #d1d1d1;" />
						
					</div>
					<div>
						<p style="line-height: 35px;">
							<span>收费实重<span>
							<span style="margin-left: 25px;">收费材重<span>
							<span style="margin-left: 25px;">收费重<span>
							<span style="margin-left: 38px;">计抛方式<span>
							<span style="margin-left: 25px;">体积<span>
							<span style="margin-left: 72px;">英文品名<span>
							<span style="margin-left: 150px;">税金付款<span>
							<span style="margin-left: 25px;">代收款<span>
							<span style="margin-left: 30px;">港前客服<span>
							<span style="margin-left: 25px;">港后客服<span>
						</p>
						<input type="text" style="width: 76px;height:22px;border: 1px solid #d1d1d1;" />
						<input type="text" style="width: 76px;height:22px;border: 1px solid #d1d1d1;" />
						<input type="text" style="width: 80px;height:22px;border: 1px solid #d1d1d1;" />
						<input type="text" style="width: 80px;height:22px;border: 1px solid #d1d1d1;" />
						<input type="text" style="width: 92px;height:22px;border: 1px solid #d1d1d1;" />
						<input type="text" style="width: 210px;height:22px;border: 1px solid #d1d1d1;" />
						<input type="text" style="width: 76px;height:22px;border: 1px solid #d1d1d1;" />
						<input type="text" style="width: 76px;height:22px;border: 1px solid #d1d1d1;" />
						<input type="text" style="width: 76px;height:22px;border: 1px solid #d1d1d1;" />
						<input type="text" style="width: 76px;height:22px;border: 1px solid #d1d1d1;" />
						
					</div>
					<div>
						<p style="line-height: 35px;">
							<span>出货实重<span>
							<span style="margin-left: 25px;">出货材重<span>
							<span style="margin-left: 25px;">出货重<span>
							<span style="margin-left: 38px;">出货备注<span>
							<span style="margin-left: 180px;">收件备注<span>
							<span style="margin-left: 185px;">数量<span>
							<span style="margin-left: 48px;">对账员<span>
							<span style="margin-left: 30px;">代理客服<span>
						</p>
						<input type="text" style="width: 76px;height:22px;border: 1px solid #d1d1d1;" />
						<input type="text" style="width: 76px;height:22px;border: 1px solid #d1d1d1;" />
						<input type="text" style="width: 80px;height:22px;border: 1px solid #d1d1d1;" />
						<input type="text" style="width: 235px;height:22px;border: 1px solid #d1d1d1;" />
						<input type="text" style="width: 235px;height:22px;border: 1px solid #d1d1d1;" />
						<input type="text" style="width: 76px;height:22px;border: 1px solid #d1d1d1;" />
						<input type="text" style="width: 76px;height:22px;border: 1px solid #d1d1d1;" />
						<input type="text" style="width: 76px;height:22px;border: 1px solid #d1d1d1;" />
					</div>
					<p style="background-color: #F5F5F5; width: 100%; line-height: 25px;">
						<span style="background-color: #00c1de;">&nbsp;</span>
						<span style="margin-left: 20px;">代理客服</span></p>
				<div>
						<p style="line-height: 35px;">
							<span>寄件公司<span>
							<span style="margin-left: 108px;">寄件人<span>
							<span style="margin-left: 100px;">寄件电话<span>
							<span style="margin-left: 110px;">收件公司<span>
							<span style="margin-left: 100px;">收件人<span>
							<span style="margin-left: 90px;">收件电话<span>
						</p>
						   <input type="text" style="width: 157px;height:22px;border: 1px solid #d1d1d1;" />
						   <input type="text" style="width: 157px;height:22px;border: 1px solid #d1d1d1;" />
						   <input type="text" style="width: 157px;height:22px;border: 1px solid #d1d1d1;" />
						   <input type="text" style="width: 157px;height:22px;border: 1px solid #d1d1d1;" />
						   <input type="text" style="width: 157px;height:22px;border: 1px solid #d1d1d1;" />
						   <input type="text" style="width: 157px;height:22px;border: 1px solid #d1d1d1;" />
					</div>
					<div>
						<p style="line-height: 35px;">
							<span>寄件地址<span>
							<span style="margin-left: 108px;">寄件邮箱<span>
							<span style="margin-left: 270px;">收件地址<span>
							<span style="margin-left: 90px;">收件税号<span>
						</p>
						   <input type="text" style="width: 157px;height:22px;border: 1px solid #d1d1d1;" />
						   <input type="text" style="width: 318px;height:22px;border: 1px solid #d1d1d1;" />
						   <input type="text" style="width: 157px;height:22px;border: 1px solid #d1d1d1;" />
						   <input type="text" style="width: 318px;height:22px;border: 1px solid #d1d1d1;" />
					</div>
								<div>
						<p style="line-height: 35px;">
							<span>寄件地址2<span>
							<span style="margin-left: 100px;">寄件地址3<span>
							<span style="margin-left: 255px;">收件地址2<span>
							<span style="margin-left: 88px;">收件地址3<span>
						</p>
						   <input type="text" style="width: 157px;height:22px;border: 1px solid #d1d1d1;" />
						   <input type="text" style="width: 318px;height:22px;border: 1px solid #d1d1d1;" />
						   <input type="text" style="width: 157px;height:22px;border: 1px solid #d1d1d1;" />
						   <input type="text" style="width: 318px;height:22px;border: 1px solid #d1d1d1;" />
					</div>
								<div>
						<p style="line-height: 35px;">
							<span>寄件国家<span>
							<span style="margin-left: 65px;">寄件州/省<span>
							<span style="margin-left: 60px;">寄件城市<span>
							<span style="margin-left: 58px;">寄件邮编<span>
							<span style="margin-left: 65px;">收件国家<span>
							<span style="margin-left: 65px;">收件州/省<span>
							<span style="margin-left: 48px;">收件城市<span>
							<span style="margin-left: 30px;">收件邮编<span>
						</p>
						<input type="text" style="width: 116px;height:22px;border: 1px solid #d1d1d1;" />
						<input type="text" style="width: 116px;height:22px;border: 1px solid #d1d1d1;" />
						<input type="text" style="width: 116px;height:22px;border: 1px solid #d1d1d1;" />
						<input type="text" style="width: 116px;height:22px;border: 1px solid #d1d1d1;" />
						<input type="text" style="width: 116px;height:22px;border: 1px solid #d1d1d1;" />
						<input type="text" style="width: 116px;height:22px;border: 1px solid #d1d1d1;" />
						<input type="text" style="width: 116px;height:22px;border: 1px solid #d1d1d1;" />
						<input type="text" style="width: 116px;height:22px;border: 1px solid #d1d1d1;" />
					</div>
				</div>
    
    
    </div>
    <div class="layui-tab-item">
    	<table class="layui-table">
			<thead>
				<tr>
					<th>序号</th>
					<th>总运单号</th>
					<th>总运单日期</th>
					<th>派件网点</th>
					<th>出港路由</th>
					<th>走货路线</th>
					<th>下一网点</th>
					<th>报关方式</th>
				</tr>
			</thead>
		</table>
    </div>
    <div class="layui-tab-item">
    	<table class="layui-table">
			<thead>
				<tr>
					<th>序号</th>
					<th>操作时间</th>
					<th>功能</th>
					<th>类型</th>
					<th>描述</th>
					<th>操作员</th>
				</tr>
			</thead>
		</table>
    </div>
    <div class="layui-tab-item">内容2</div>
    <div class="layui-tab-item">
    	 <table class="layui-table">
			<thead>
				<tr>
					<th>序号</th>
					<th>操作时间</th>
					<th>功能</th>
					<th>类型</th>
					<th>描述</th>
					<th>操作员</th>
				</tr>
			</thead>
		</table>
		<div class="layui-form-item">
			<textarea name="desc" style="width: 455px;height: 300px;" placeholder="请输入内容" class="layui-textarea"></textarea>
		</div>
		<div class="layui-inline" style="margin-top: -5px;">
			<button type="button" class="layui-btn  layui-btn-sm" style="background-color: #286ED6;">录入日志</button>
		</div>
    </div>
    <div class="layui-tab-item">				
    	<div class="layui-inline" style="margin-top: -5px;margin-left: 50px;">
					<p style="background-color: #F5F5F5; width: 100%; line-height: 25px;"><span style="background-color: #00c1de;">&nbsp;</span><span style="margin-left: 20px;">货款信息</span></p>
					<div>
						<p style="line-height: 35px;">代收款</p>
						   <input type="text" style="width: 175px;height:26px;border: 1px solid #d1d1d1;" />
						   <input type="text" style="width: 75px;height:26px;border: 1px solid #d1d1d1;" />
					</div>
					
					<p style="background-color: #F5F5F5; width: 100%; line-height: 25px;"><span style="background-color: #00c1de;">&nbsp;</span><span style="margin-left: 20px;">回款信息</span></p>
					<div>
						<p style="line-height: 35px;">
							<span>派送代理<span>
							<span style="margin-left: 210px;">回款时间<span>
							<span style="margin-left: 185px;">收款时间<span>
						</p>
						<input type="text" style="width: 252px;height:26px;border: 1px solid #d1d1d1;" />
						<input type="text" style="width: 252px;height:26px;border: 1px solid #d1d1d1;" />
						<input type="text" style="width: 252px;height:26px;border: 1px solid #d1d1d1;" />
					</div>
					<p style="background-color: #F5F5F5; width: 100%; line-height: 25px;"><span style="background-color: #00c1de;">&nbsp;</span><span style="margin-left: 20px;">返款信息</span></p>
					<div>
						<p style="line-height: 35px;">
							<span>客户<span>
							<span style="margin-left: 228px;">返款时间<span>
							<span style="margin-left: 195px;">付款时间<span>
						</p>
						<input type="text" style="width: 252px;height:26px;border: 1px solid #d1d1d1;" />
						<input type="text" style="width: 252px;height:26px;border: 1px solid #d1d1d1;" />
						<input type="text" style="width: 252px;height:26px;border: 1px solid #d1d1d1;" />
					</div>
				</div>
    </div>
    <div class="layui-tab-item"><table class="layui-hide" id="test2"></table></div>
    <div class="layui-tab-item"><table class="layui-hide" id="test"></table></div>
  </div>
</div>
		
		
	</body>
		<script src="../lib/layui-v2.5.4/layui.js"></script>
	<script>
layui.use(['layer', 'form', 'jquery', 'table','element'], function(){
  var $ = layui.jquery,
  layer = layui.layer,
  form = layui.form,
  table = layui.table;
  element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
    			table.render({
				elem: '#test',
				url: '/demo/table/user/',
				cellMinWidth: 80, //全局定义常规单元格的最小宽度，layui 2.2.1 新增,
				defaultToolbar: ['filter', 'print', 'exports'],
				cols: [
					[{
							field: 'id',
							title: '扫描时间'
						}, {
							field: 'username',
							title: '类型'
						}, {
							field: 'sex',
							title: '扫描单号',
						}, {
							field: 'city',
							title: '转单号码'
						}, {
							field: 'sign',
							title: '运单号码',
						} 
						, {
							field: 'experience',
							title: '客户',
						}, {
							field: 'score',
							title: '指定路线',
						}
					]
				]
			});


			table.render({
				elem: '#test2',
				url: '/demo/table/user/',
				cellMinWidth: 80, //全局定义常规单元格的最小宽度，layui 2.2.1 新增,
				defaultToolbar: ['filter', 'print', 'exports'],
				cols: [
					[{
							field: 'id',
							title: '扫描时间'
						}, {
							field: 'username',
							title: '类型'
						}, {
							field: 'sex',
							title: '扫描单号',
						}, {
							field: 'city',
							title: '转单号码'
						}, {
							field: 'sign',
							title: '运单号码',
						} 
						, {
							field: 'experience',
							title: '客户',
						}, {
							field: 'score',
							title: '指定路线',
						}
					]
				]
			});
			$("#hz").click(function() {
				layer.open({
					type: 2,
					content: "single_piece_information.html",
					area: ['680px', '500px'],
					title: '选择总运单',
					end: function(layero, index) {
						$("#id").val(abc);
					}
				});
			})
			

});
</script>
</html>
