<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>转运到件</title>
		<script src="lib/layui-v2.5.4/layui.js"></script>
		<link rel="stylesheet" href="lib/layui-v2.5.4/css/layui.css" media="all">
		<link rel="stylesheet" href="css/layuimini.css" media="all">
		<script src="js/lay-config.js?v=1.0.4" charset="utf-8"></script>
		<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
	</head>
	<body>
		<div class="layui-fluid">
		    <div class="layui-row">
		        <div class="layui-col-xs12">
		            <form class="layui-form">
		                <div class="layui-form-item">
		                    <div class="layui-inline">
		                        <label class="layui-input-inline" style="font-size: 25px; font-weight: 500;">扫描单号</label><span><input name="checkbox" title="整板袋装" type="checkbox" /></span><div>
		                            <input class="layui-input" />
		                        </div>
		                    </div>
		                    <div class="layui-inline">
		                        <label class="layui-input-inline" style="font-size: 25px; font-weight: 500;">到件网点</label><span><input name="checkbox" title="复核重量" type="checkbox" /></span><div></div>
		                        <select>

								</select>
		                    </div>
		                </div>
		            </form>
		        </div>
		        <div class="layui-col-xs12">
					<table class="layui-table" id="test" lay-filter="test"></table>
				</div>
				<div class="layui-col-xs12">
					<div class="layui-btn-container">
					
						<button class="layui-btn  layui-btn-lg" >到达</button>
						<button class="layui-btn layui-btn-normal layui-btn-lg" data-iframe-tab="/Transfertopartsmanagement.html" data-title="转运到件管理" data-icon="fa fa-hourglass-end">转运到件管理</button>
						
					
					</div>
				</div>
		    </div>
		</div>
	</body>
		<script>
				    layui.use(['element', 'layer', 'layuimini','form'], function () {
				        var $ = layui.jquery,
				            element = layui.element,
				            layer = layui.layer,
				            form = layui.form;
						/* //触发事件
						$("#bb").click(function() {
							$(".bbb").css("display", "none");
							$("#ccc").css("display", "block");
							$(".bb").css("display", "block");
							$(".aa").css("display", "none");
							$(".br").css("display", "block")
							$(".br2").css("display", "none")
						})
						$("#aa").click(function() {
							$(".bbb").css("display", "block");
							$("#ccc").css("display", "none");
							$(".aa").css("display", "block");
							$(".bb").css("display", "none");
							$(".br").css("display", "none");
							$(".br2").css("display", "block")
						}) */
				
				    });
				</script>
	<script>
		layui.use(['element', 'form'], function() {
			var element = layui.element,
				form = layui.form;
			form.render();
		});
		layui.use(["table", "jquery", "layer", "form", "laypage"], function() {
			var table = layui.table,
				$ = layui.jquery,
				layer = layui.layer,
				form = layui.form,
				util = layui.util;
	
			table.render({
				elem: '#test',
				url: '../RecordController/recordlist',
				method: 'post',
				parseData: function(res) { //res 即为原始返回的数据
					return {
						"code": res.code, //解析接口状态
						"msg": res.msg, //解析提示文本
						"count": res.count, //解析数据长度
						"data": res.data //解析数据列表
					}
				},
				request: {
					stuName: 'index' //页码的参数名称，默认：page
						,
					limitName: 'pageSize' //每页数据量的参数名，默认：limit
				},
				cols: [
					[{
						field: 'rid',
						title: '编号',
						sort: true
					}, {
						field: 'fname',
						title: '妻子姓名'
					}, {
						field: 'fbirth',
						title: '妻子出生日期',
						templet: function(row) {
							return createTime(row.fbirth);
						}
					}, {
						field: 'fcertificate',
						title: '妻子证件号码',
						sort: true
					}, {
						field: 'bname',
						title: '丈夫姓名'
					}, {
						field: 'birth',
						title: '丈夫出生日期',
						templet: function(row) {
							return createTime(row.birth);
						}
					}, {
						field: 'bcertificate',
						title: '丈夫证件号码',
						sort: true
					}, {
						field: 'creationtime',
						title: '建档日期',
						templet: function(row) {
							return createTime(row.creationtime);
						}
					}]
				],
				page: true,
				id: 'userTableReload'
			});
	
	
			//根据条件查询表格数据重新加载
			var $ = layui.$,
				active = {
					reload: function() {
						//获取用户名
						var creationtime = $("#creationtime").val();
						var fcertificate = $("#fcertificate").val();
						var fname = $("#fname").val();
						var bcertificate = $("#bcertificate").val();
						var bname = $("#bname").val();
						var fbirth = $("#fbirth").val();
						var birth = $("#birth").val();
						var rid = $("#rid").val();
						//执行重载
						table.reload('userTableReload', {
							page: {
								curr: 1 //重新从第 1 页开始
							}
							//根据条件查询
							,
							where: {
								creationtime: creationtime,
								fcertificate: fcertificate,
								fname: fname,
								bcertificate: bcertificate,
								bname: bname,
								fbirth: fbirth,
								birth: birth,
								rid: rid
							}
						});
					}
				};
			//点击搜索按钮根据用户名称查询
			$('#btn_yes').on('click',
				function() {
					var type = $(this).data('type');
					active[type] ? active[type].call(this) : '';
				});
	
	
	
		});
	</script>
</html>
