<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>转运发送</title>
		<script src="lib/layui-v2.5.4/layui.js"></script>
		<link rel="stylesheet" href="lib/layui-v2.5.4/css/layui.css" media="all">
		<link rel="stylesheet" href="css/layuimini.css" media="all">
		<script src="js/lay-config.js?v=1.0.4" charset="utf-8"></script>
		<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
	</head>
	<style type="text/css">
		.btn-bgcolor {
			background-color: #286ED6;
			width: 80px;
		}

		.btn-bgcolor2 {
			background-color: #ff1c1f;
			width: 80px;
		}

		#luxian {
			position: absolute;
			left: 16%;
			top: 30%;
		}
	</style>
	<body>
		<div class="layui-fluid">
		    <div class="layui-row">
		        <div class="layui-col-xs12">
		            <div class="layui-row">
		                <div class="layui-col-xs6">
		                    <div class="layui-btn-container">
		                       <!-- <button id="Selectwaybill" class="layui-btn layui-btn-normal layui-btn-sm btn-bgcolor">选取运单</button>-->
<!--								<button id="Pickbag" class="layui-btn layui-btn-sm layui-btn-normal btn-bgcolor">选取袋</button>
								<button id="Pickpanel" class="layui-btn layui-btn-sm layui-btn-normal btn-bgcolor">选取板</button>-->
								<button id="deltran" class="layui-btn layui-btn-sm layui-btn-danger btn-bgcolor2" >撤销运单</button>
								<!--<button id="js" class="layui-btn layui-btn-sm layui-btn-normal btn-bgcolor">继续发件</button>-->
<!--								<button id="Displaybag" class="layui-btn layui-btn-sm layui-btn-normal btn-bgcolor">显示袋</button>
								<button id="Displaypanel" class="layui-btn layui-btn-sm layui-btn-normal btn-bgcolor">显示板</button>-->
		                    </div>
		                </div>
		                <div class="layui-col-xs6"><input type="hidden" id="transhipmentNo" th:value="${session.transhipmentNo!=null ? session.transhipmentNo:''}">
		                    <span>转运单号：<span style="font-size: 18px; font-weight: 500;" th:text="${session.transhipmentNo!=null ? session.transhipmentNo:''}">
		                        3262632
		                    </span>
		                    </span>
		                </div>
		                <div class="layui-col-xs12">
		                    <div class="layui-input-inline" style="color: rgb(255, 0, 0);">
		                        注意：原则上同一运单要求装在同一转运单中，转运单的运单异常分两种情况：1、少件未出；2、出在其他转运单
		                    </div>
		                </div>
		            </div>
		        </div>
		        <div class="layui-col-xs12">
						<table class="layui-table" id="test" lay-filter="test"></table>
				</div>
				<div class="layui-col-xs12">
					<div class="layui-input-inline">
						<input id="SendOut" class="layui-btn  layui-btn-sm" value="发送" />
					</div>
				</div>
		    </div>
		</div>
	</body>
	<script>
		layui.use('layer',function(){
			 var $ = layui.jquery, layer = layui.layer;
			 
			 $("#Selectwaybill").on("click",function(){
					layer.open({
						    		  type:2,
										content:'Selectwaybill.html',
										area:['995px','600px'],
										title:'选取运单',
										success: function (layero, index) {   //弹出层弹出后的回调函数

							            },			
										end:function(){     //弹出层销毁后的事件
											/*table.reload("userTableReload");//增加成功后刷新表格*/
										}
						    	  })
				});

			$("#Pickbag").on("click",function(){
				layer.open({
					type:2,
					content:'Transportoptionalbag.html',
					area:['995px','600px'],
					title:'选取袋',
					success: function (layero, index) {   //弹出层弹出后的回调函数

					},
					end:function(){     //弹出层销毁后的事件
						/*table.reload("userTableReload");//增加成功后刷新表格*/
					}
				})
			});
			$("#Pickpanel").on("click",function(){
				layer.open({
					type:2,
					content:'Transferradioselectionboard.html',
					area:['995px','600px'],
					title:'选取板',
					success: function (layero, index) {   //弹出层弹出后的回调函数

					},
					end:function(){     //弹出层销毁后的事件
						/*table.reload("userTableReload");//增加成功后刷新表格*/
					}
				})
			});
			$("#Displaybag").on("click",function(){
				layer.open({
					type:2,
					content:'Transfersheetdisplaybag.html',
					area:['995px','600px'],
					title:'显示袋',
					success: function (layero, index) {   //弹出层弹出后的回调函数

					},
					end:function(){     //弹出层销毁后的事件
						/*table.reload("userTableReload");//增加成功后刷新表格*/
					}
				})
			});
			$("#Displaypanel").on("click",function(){
				layer.open({
					type:2,
					content:'Transfersheetdisplayboard.html',
					area:['995px','600px'],
					title:'显示板',
					success: function (layero, index) {   //弹出层弹出后的回调函数

					},
					end:function(){     //弹出层销毁后的事件
						/*table.reload("userTableReload");//增加成功后刷新表格*/
					}
				})
			});
		})
	</script>
	<script>



		layui.use(['element', 'form'], function() {
			var element = layui.element,
					form = layui.form;
			form.render();
		});
		layui.use(["table", "jquery", "layer", "form", "laypage"], function() {
			var table = layui.table,
					$ = layui.jquery,
					layer = layui.layer,
					form = layui.form,
					util = layui.util;

			table.render({
				elem: '#test',
				url: '/transshipmentDetailsInquiry',
				method: 'post',
				parseData: function(res) { //res 即为原始返回的数据
					return {
						"code": res.code, //解析接口状态
						"msg": res.msg, //解析提示文本
						"count": res.count, //解析数据长度
						"data": res.data //解析数据列表
					}
				},
				request: {
					stuName: 'PageNum' //页码的参数名称，默认：page
					,
					limitName: 'PageSize' //每页数据量的参数名，默认：limit
				},
				cols: [
					[{
						type:'checkbox',
						fixed: 'left'
					},{
						field: 'waybillNumber',
						title: '运单号码'
					},{
						field: 'totalPieces',
						title: '运单件数',
						templet:'<div>{{d.order.totalPieces}}</div>'
					},{
						field: 'totalActualWeight',
						title: '出货重',
						templet:'<div>{{d.order.totalActualWeight}}</div>'
					},{
						field: 'recheckAbnormality',
						title: '运单异常'
					},{
						field: 'routeName',
						title: '指定路线',
						templet:'<div>{{d.specificRoute.routeName}}</div>'
					},{
						field: 'routeName',
						title: '走货路线',
						templet:'<div>{{d.cargoRoute.routeName}}</div>'
					},{
						field: 'name',
						title: '目的地',
						templet:'<div>{{d.destination.name}}</div>'
					},{
						field: 'customsDeclarationMethod',
						title: '报关方式',
						templet:'<div>{{d.customsdeclarationmethod.customsDeclarationMethod}}</div>'
					},{
						field: 'typeofgoods',
						title: '货物类型',
						templet:'<div>{{d.typeofgoods.tname}}</div>'
					}, {
						field: 'name',
						title: '客户',
						templet:'<div>{{d.customer.name}}</div>'
					},{
						field: 'scan_time',
						title: '扫描时间',
						templet: function(row) {
							return createTime(row.scan_time);
						}
					},{
						field: 'scan_time',
						title: '扫描时间',
						templet: function(row) {
							return createTime(row.scan_time);
						}
					}, ]
				],
				page: true,
				id: 'userTableReload'
			});

			$("#deltran").on("click",function () {
				var checkStatus = table.checkStatus('userTableReload');
				var ids =null;
				$(checkStatus.data).each(function (i, o) {//o即为表格中一行的数据
					ids=o.tdid;

				});
				if (ids==null) {
					layer.msg('请选择至少一条运单数据');
					return false;
				}else{
					//询问框
					layer.confirm('确定要撤销此运单嘛？', {
						btn: ['确定','取消'] //按钮
					}, function(){

						$.ajax({
							url: "/delTransferDetailstdid",
							type: "post",
							data: {
								"tdid":ids
							},
							dataType: "text",
							success: function (result) {
								if (result == "yes") {

									layer.alert("撤销运单成功");

									var transhipmentNo=	$("#transhipmentNo").val();
									//执行重载
									table.reload('userTableReload', {
										page: {
											curr: 1 //重新从第 1 页开始
										}
										//根据条件查询
										,
										where: {
											transhipmentNo:transhipmentNo
										}
									});

								}else {
									layer.alert("撤销运单失败");
								}
							}
						})


					}, function(){
						layer.msg('取消发送', {
							time: 20000, //20s后自动关闭
							btn: ['yes', 'no']
						});
					});
				}
			});
			//根据条件查询表格数据重新加载
			var $ = layui.$,
					active = {
						reload: function() {
							var transhipmentNo=	$("#transhipmentNo").val();
							//执行重载
							table.reload('userTableReload', {
								page: {
									curr: 1 //重新从第 1 页开始
								}
								//根据条件查询
								,
								where: {
									transhipmentNo:transhipmentNo
								}
							});
						}
					};
			
			
			$(document).ready(function () {
				var transhipmentNo=	$("#transhipmentNo").val();
				//执行重载
				table.reload('userTableReload', {
					page: {
						curr: 1 //重新从第 1 页开始
					}
					//根据条件查询
					,
					where: {
						transhipmentNo:transhipmentNo
					}
				});
			})


			$("#SendOut").on("click",function () {
				//询问框

				layer.confirm('确定要发送嘛？', {
					btn: ['确定','取消'] //按钮
				}, function(){

					var transhipmentNo=	$("#transhipmentNo").val();
					$.ajax({
						url: "/Transferordermodificationsentstatus",
						type: "post",
						data: {
							"transhipmentNo":transhipmentNo
						},
						dataType: "text",
						success: function (result) {
							if (result == "yes") {

								layer.alert("发送成功");

							} else if (result == "notTransitStatusId") {
								layer.alert("转运单无法发送");
							} else {
								layer.alert("发送失败");
							}
						}
					})


				}, function(){
					layer.msg('取消发送', {
						time: 20000, //20s后自动关闭
						btn: ['yes', 'no']
					});
				});

			})

/*			//点击搜索按钮根据用户名称查询
			$('#waybillNumber').bind('keydown',
					function(event) {
						var event = window.event || arguments.callee.caller.arguments[0];
						if (event.keyCode == 13){
							if($("#transhipmentNo").val()==null || $("#transhipmentNo").val()=="")
							{
								layer.alert("请建立转运单号后再进行扫描");
							}else {
								$.ajax({
									url: "/AddTransferNote",
									type: "post",
									data: {
										"transhipmentNo": $("#transhipmentNo").val(),
										"waybillNumber": $("#waybillNumber").val()
									},
									dataType: "text",
									success: function (result) {
										if (result == "yes") {
											var transhipmentNo=	$("#transhipmentNo").val();
											//执行重载
											table.reload('userTableReload', {
												page: {
													curr: 1 //重新从第 1 页开始
												}
												//根据条件查询
												,
												where: {
													transhipmentNo:transhipmentNo
												}
											});

										} else if (result == "order_null") {
											layer.alert("此运单为空");
										} else if (result == "transshipment_null") {
											layer.alert("转运单号不能为空");
										} else {
											layer.alert("添加失败");
										}
									}
								})
							}
						}

					});*/



		});
	</script>
	<script type="text/javascript">
		function createTime(v){
			var date = new Date(v);
			var y = date.getFullYear();
			var m = date.getMonth()+1;
			m = m<10?'0'+m:m;
			var d = date.getDate();
			d = d<10?("0"+d):d;
			var h = date.getHours();
			h = h<10?("0"+h):h;
			var M = date.getMinutes();
			M = M<10?("0"+M):M;
			var str = y+"-"+m+"-"+d;
			return str;
		}
	</script>
</html>
